.DS_Store
*.pyc
results.txt
/.idea/workspace.xml

/tests/AVTest.log

/AVCommon/.coverage

/AVAgent/AVTest.log

/.coverage

/AVAgent/build/

/tests_integration/AVTest.log

/.idea/RCSAVTest.iml

/AVAgent/report.log
/AVAgent/report.TEST.log
