N: android=http://schemas.android.com/apk/res/android
  E: manifest (line=3)
    A: android:versionCode(0x0101021b)=(type 0x10)0x2ef0f
    A: android:versionName(0x0101021c)="4.0.1.2" (Raw: "4.0.1.2")
    A: package="com.antivirus" (Raw: "com.antivirus")
    E: supports-screens (line=10)
      A: android:anyDensity(0x0101026c)=(type 0x12)0xffffffff
      A: android:smallScreens(0x01010284)=(type 0x12)0xffffffff
      A: android:normalScreens(0x01010285)=(type 0x12)0xffffffff
      A: android:largeScreens(0x01010286)=(type 0x12)0xffffffff
      A: android:xlargeScreens(0x010102bf)=(type 0x12)0xffffffff
    E: uses-sdk (line=17)
      A: android:minSdkVersion(0x0101020c)=(type 0x10)0x8
    E: uses-feature (line=19)
      A: android:name(0x01010003)="android.hardware.telephony" (Raw: "android.hardware.telephony")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=20)
      A: android:name(0x01010003)="android.hardware.camera" (Raw: "android.hardware.camera")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=21)
      A: android:name(0x01010003)="android.hardware.touchscreen" (Raw: "android.hardware.touchscreen")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=22)
      A: android:name(0x01010003)="android.hardware.location.gps" (Raw: "android.hardware.location.gps")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=23)
      A: android:name(0x01010003)="android.hardware.location.network" (Raw: "android.hardware.location.network")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=24)
      A: android:name(0x01010003)="android.hardware.bluetooth" (Raw: "android.hardware.bluetooth")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-permission (line=27)
      A: android:name(0x01010003)="android.permission.ACCESS_COARSE_LOCATION" (Raw: "android.permission.ACCESS_COARSE_LOCATION")
    E: uses-permission (line=28)
      A: android:name(0x01010003)="android.permission.ACCESS_COARSE_UPDATES" (Raw: "android.permission.ACCESS_COARSE_UPDATES")
    E: uses-permission (line=29)
      A: android:name(0x01010003)="android.permission.ACCESS_FINE_LOCATION" (Raw: "android.permission.ACCESS_FINE_LOCATION")
    E: uses-permission (line=30)
      A: android:name(0x01010003)="android.permission.ACCESS_NETWORK_STATE" (Raw: "android.permission.ACCESS_NETWORK_STATE")
    E: uses-permission (line=31)
      A: android:name(0x01010003)="android.permission.ACCESS_WIFI_STATE" (Raw: "android.permission.ACCESS_WIFI_STATE")
    E: uses-permission (line=32)
      A: android:name(0x01010003)="android.permission.BATTERY_STATS" (Raw: "android.permission.BATTERY_STATS")
    E: uses-permission (line=33)
      A: android:name(0x01010003)="android.permission.BLUETOOTH" (Raw: "android.permission.BLUETOOTH")
    E: uses-permission (line=34)
      A: android:name(0x01010003)="android.permission.BLUETOOTH_ADMIN" (Raw: "android.permission.BLUETOOTH_ADMIN")
    E: uses-permission (line=35)
      A: android:name(0x01010003)="android.permission.CALL_PHONE" (Raw: "android.permission.CALL_PHONE")
    E: uses-permission (line=36)
      A: android:name(0x01010003)="android.permission.CAMERA" (Raw: "android.permission.CAMERA")
    E: uses-permission (line=37)
      A: android:name(0x01010003)="android.permission.CHANGE_WIFI_STATE" (Raw: "android.permission.CHANGE_WIFI_STATE")
    E: uses-permission (line=38)
      A: android:name(0x01010003)="android.permission.CLEAR_APP_CACHE" (Raw: "android.permission.CLEAR_APP_CACHE")
    E: uses-permission (line=39)
      A: android:name(0x01010003)="android.permission.DISABLE_KEYGUARD" (Raw: "android.permission.DISABLE_KEYGUARD")
    E: uses-permission (line=40)
      A: android:name(0x01010003)="android.permission.GET_ACCOUNTS" (Raw: "android.permission.GET_ACCOUNTS")
    E: uses-permission (line=41)
      A: android:name(0x01010003)="android.permission.GET_PACKAGE_SIZE" (Raw: "android.permission.GET_PACKAGE_SIZE")
    E: uses-permission (line=42)
      A: android:name(0x01010003)="android.permission.GET_TASKS" (Raw: "android.permission.GET_TASKS")
    E: uses-permission (line=43)
      A: android:name(0x01010003)="android.permission.INTERNET" (Raw: "android.permission.INTERNET")
    E: uses-permission (line=44)
      A: android:name(0x01010003)="android.permission.KILL_BACKGROUND_PROCESSES" (Raw: "android.permission.KILL_BACKGROUND_PROCESSES")
    E: uses-permission (line=45)
      A: android:name(0x01010003)="android.permission.MANAGE_ACCOUNTS" (Raw: "android.permission.MANAGE_ACCOUNTS")
    E: uses-permission (line=46)
      A: android:name(0x01010003)="android.permission.MOUNT_FORMAT_FILESYSTEMS" (Raw: "android.permission.MOUNT_FORMAT_FILESYSTEMS")
    E: uses-permission (line=47)
      A: android:name(0x01010003)="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" (Raw: "android.permission.MOUNT_UNMOUNT_FILESYSTEMS")
    E: uses-permission (line=48)
      A: android:name(0x01010003)="android.permission.READ_CONTACTS" (Raw: "android.permission.READ_CONTACTS")
    E: uses-permission (line=49)
      A: android:name(0x01010003)="android.permission.READ_LOGS" (Raw: "android.permission.READ_LOGS")
    E: uses-permission (line=50)
      A: android:name(0x01010003)="android.permission.READ_PHONE_STATE" (Raw: "android.permission.READ_PHONE_STATE")
    E: uses-permission (line=51)
      A: android:name(0x01010003)="android.permission.READ_SMS" (Raw: "android.permission.READ_SMS")
    E: uses-permission (line=52)
      A: android:name(0x01010003)="android.permission.READ_SYNC_SETTINGS" (Raw: "android.permission.READ_SYNC_SETTINGS")
    E: uses-permission (line=53)
      A: android:name(0x01010003)="android.permission.RECEIVE_BOOT_COMPLETED" (Raw: "android.permission.RECEIVE_BOOT_COMPLETED")
    E: uses-permission (line=54)
      A: android:name(0x01010003)="android.permission.RECEIVE_SMS" (Raw: "android.permission.RECEIVE_SMS")
    E: uses-permission (line=55)
      A: android:name(0x01010003)="android.permission.RESTART_PACKAGES" (Raw: "android.permission.RESTART_PACKAGES")
    E: uses-permission (line=56)
      A: android:name(0x01010003)="android.permission.SUBSCRIBED_FEEDS_WRITE" (Raw: "android.permission.SUBSCRIBED_FEEDS_WRITE")
    E: uses-permission (line=57)
      A: android:name(0x01010003)="android.permission.SEND_SMS" (Raw: "android.permission.SEND_SMS")
    E: uses-permission (line=58)
      A: android:name(0x01010003)="android.permission.VIBRATE" (Raw: "android.permission.VIBRATE")
    E: uses-permission (line=59)
      A: android:name(0x01010003)="android.permission.WRITE_CALENDAR" (Raw: "android.permission.WRITE_CALENDAR")
    E: uses-permission (line=60)
      A: android:name(0x01010003)="android.permission.WRITE_CONTACTS" (Raw: "android.permission.WRITE_CONTACTS")
    E: uses-permission (line=61)
      A: android:name(0x01010003)="android.permission.WRITE_OWNER_DATA" (Raw: "android.permission.WRITE_OWNER_DATA")
    E: uses-permission (line=62)
      A: android:name(0x01010003)="android.permission.WRITE_SETTINGS" (Raw: "android.permission.WRITE_SETTINGS")
    E: uses-permission (line=63)
      A: android:name(0x01010003)="android.permission.WRITE_SMS" (Raw: "android.permission.WRITE_SMS")
    E: uses-permission (line=64)
      A: android:name(0x01010003)="android.permission.WRITE_SYNC_SETTINGS" (Raw: "android.permission.WRITE_SYNC_SETTINGS")
    E: uses-permission (line=65)
      A: android:name(0x01010003)="android.permission.WRITE_USER_DICTIONARY" (Raw: "android.permission.WRITE_USER_DICTIONARY")
    E: uses-permission (line=68)
      A: android:name(0x01010003)="com.sec.android.provider.logsprovider.permission.READ_LOGS" (Raw: "com.sec.android.provider.logsprovider.permission.READ_LOGS")
    E: uses-permission (line=69)
      A: android:name(0x01010003)="com.sec.android.provider.logsprovider.permission.WRITE_LOGS" (Raw: "com.sec.android.provider.logsprovider.permission.WRITE_LOGS")
    E: uses-permission (line=71)
      A: android:name(0x01010003)="com.android.browser.permission.READ_HISTORY_BOOKMARKS" (Raw: "com.android.browser.permission.READ_HISTORY_BOOKMARKS")
    E: uses-permission (line=72)
      A: android:name(0x01010003)="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" (Raw: "com.android.browser.permission.WRITE_HISTORY_BOOKMARKS")
    E: uses-permission (line=73)
      A: android:name(0x01010003)="com.android.launcher.permission.INSTALL_SHORTCUT" (Raw: "com.android.launcher.permission.INSTALL_SHORTCUT")
    E: uses-permission (line=74)
      A: android:name(0x01010003)="com.android.launcher.permission.UNINSTALL_SHORTCUT" (Raw: "com.android.launcher.permission.UNINSTALL_SHORTCUT")
    E: uses-permission (line=75)
      A: android:name(0x01010003)="com.android.launcher.permission.WRITE_SETTINGS" (Raw: "com.android.launcher.permission.WRITE_SETTINGS")
    E: uses-permission (line=76)
      A: android:name(0x01010003)="com.htc.launcher.permission.WRITE_SETTINGS" (Raw: "com.htc.launcher.permission.WRITE_SETTINGS")
    E: uses-permission (line=77)
      A: android:name(0x01010003)="com.sonyericsson.homescreen.permission.READ_SETTINGS" (Raw: "com.sonyericsson.homescreen.permission.READ_SETTINGS")
    E: uses-permission (line=78)
      A: android:name(0x01010003)="com.sonyericsson.homescreen.permission.WRITE_SETTINGS" (Raw: "com.sonyericsson.homescreen.permission.WRITE_SETTINGS")
    E: uses-permission (line=79)
      A: android:name(0x01010003)="android.permission.WAKE_LOCK" (Raw: "android.permission.WAKE_LOCK")
    E: permission (line=82)
      A: android:name(0x01010003)="com.antivirus.permission.C2D_MESSAGE" (Raw: "com.antivirus.permission.C2D_MESSAGE")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: uses-permission (line=83)
      A: android:name(0x01010003)="com.antivirus.permission.C2D_MESSAGE" (Raw: "com.antivirus.permission.C2D_MESSAGE")
    E: uses-permission (line=86)
      A: android:name(0x01010003)="com.google.android.c2dm.permission.RECEIVE" (Raw: "com.google.android.c2dm.permission.RECEIVE")
    E: uses-permission (line=88)
      A: android:name(0x01010003)="android.permission.WRITE_EXTERNAL_STORAGE" (Raw: "android.permission.WRITE_EXTERNAL_STORAGE")
    E: uses-permission (line=91)
      A: android:name(0x01010003)="android.permission.SYSTEM_ALERT_WINDOW" (Raw: "android.permission.SYSTEM_ALERT_WINDOW")
    E: permission (line=93)
      A: android:name(0x01010003)="com.antivirus.permission.LG" (Raw: "com.antivirus.permission.LG")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: uses-permission (line=96)
      A: android:name(0x01010003)="com.android.vending.BILLING" (Raw: "com.android.vending.BILLING")
    E: uses-permission (line=100)
      A: android:name(0x01010003)="android.permission.MODIFY_AUDIO_SETTINGS" (Raw: "android.permission.MODIFY_AUDIO_SETTINGS")
    E: application (line=101)
      A: android:theme(0x01010000)=@0x7f070057
      A: android:label(0x01010001)=@0x7f0b006d
      A: android:icon(0x01010002)=@0x7f020049
      A: android:name(0x01010003)="com.antivirus.AvApplication" (Raw: "com.antivirus.AvApplication")
      A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
      E: service (line=108)
        A: android:name(0x01010003)="com.antivirus.AVService" (Raw: "com.antivirus.AVService")
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=109)
          E: action (line=110)
            A: android:name(0x01010003)="com.avg.toolkit.TKS_ACTION" (Raw: "com.avg.toolkit.TKS_ACTION")
      E: service (line=114)
        A: android:name(0x01010003)="com.antivirus.apploader.AppLoaderService" (Raw: "com.antivirus.apploader.AppLoaderService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=116)
        A: android:name(0x01010003)="com.antivirus.applocker.AppBlockService" (Raw: "com.antivirus.applocker.AppBlockService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=118)
        A: android:name(0x01010003)="com.avg.antitheft.PictureSenderService" (Raw: "com.avg.antitheft.PictureSenderService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=120)
        A: android:name(0x01010003)="com.avg.antitheft.GCMIntentService" (Raw: "com.avg.antitheft.GCMIntentService")
      E: service (line=122)
        A: android:name(0x01010003)="com.avg.antitheft.LockScreenService" (Raw: "com.avg.antitheft.LockScreenService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: activity (line=130)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f0b006d
        A: android:icon(0x01010002)=@0x7f020049
        A: android:name(0x01010003)="com.antivirus.ui.main.AntivirusMainScreen" (Raw: "com.antivirus.ui.main.AntivirusMainScreen")
        A: android:launchMode(0x0101001d)=(type 0x10)0x1
        E: intent-filter (line=136)
          E: action (line=137)
            A: android:name(0x01010003)="android.intent.action.MAIN" (Raw: "android.intent.action.MAIN")
          E: category (line=138)
            A: android:name(0x01010003)="android.intent.category.LAUNCHER" (Raw: "android.intent.category.LAUNCHER")
      E: activity (line=142)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.antitheft.LockScreenActivity" (Raw: "com.avg.antitheft.LockScreenActivity")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=147)
        A: android:theme(0x01010000)=@0x7f070058
        A: android:name(0x01010003)="com.avg.antitheft.ui.PictureTakerActivity" (Raw: "com.avg.antitheft.ui.PictureTakerActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=149)
        A: android:theme(0x01010000)=@0x1030007
        A: android:name(0x01010003)="com.avg.ui.license.qrreader.general.CaptureActivity" (Raw: "com.avg.ui.license.qrreader.general.CaptureActivity")
        A: android:clearTaskOnLaunch(0x01010015)=(type 0x12)0xffffffff
        A: android:stateNotNeeded(0x01010016)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x0
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
        A: android:windowSoftInputMode(0x0101022b)=(type 0x11)0x3
      E: activity (line=156)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.ui.general.components.DrawerActivity" (Raw: "com.avg.ui.general.components.DrawerActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=157)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.ui.general.components.ZENLoginActivity" (Raw: "com.avg.ui.general.components.ZENLoginActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=158)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.ui.general.components.MoreAVGAppsActivity" (Raw: "com.avg.ui.general.components.MoreAVGAppsActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=160)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.tuneup.battery.BatteryStateActivity" (Raw: "com.avg.tuneup.battery.BatteryStateActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=161)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.tuneup.battery.BatterySaveSettingsActivity" (Raw: "com.avg.tuneup.battery.BatterySaveSettingsActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=162)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.tuneup.battery.DummyBrightnessActivity" (Raw: "com.avg.tuneup.battery.DummyBrightnessActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=164)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.tuneup.storage.StorageActivity" (Raw: "com.avg.tuneup.storage.StorageActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=165)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.tuneup.traffic.TrafficMeterActivity" (Raw: "com.avg.tuneup.traffic.TrafficMeterActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=166)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.tuneup.traffic.DataPlanSettingsActivity" (Raw: "com.avg.tuneup.traffic.DataPlanSettingsActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=168)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.main.OnboardingActivity" (Raw: "com.antivirus.ui.main.OnboardingActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=169)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.main.HandheldMainActivity" (Raw: "com.antivirus.ui.main.HandheldMainActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x1
      E: activity (line=170)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.tablet.DualPaneActivity" (Raw: "com.antivirus.ui.tablet.DualPaneActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=172)
        A: android:name(0x01010003)="com.antivirus.ui.backup.apps.OverLayActivity" (Raw: "com.antivirus.ui.backup.apps.OverLayActivity")
      E: activity (line=173)
        A: android:name(0x01010003)="com.antivirus.ui.backup.apps.BackupMainActivity" (Raw: "com.antivirus.ui.backup.apps.BackupMainActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=175)
        A: android:theme(0x01010000)=@0x1030010
        A: android:name(0x01010003)="com.antivirus.ui.versionUpdate.VersionUpdateDialog" (Raw: "com.antivirus.ui.versionUpdate.VersionUpdateDialog")
        A: android:taskAffinity(0x01010012)="" (Raw: "")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=176)
        A: android:theme(0x01010000)=@0x1030010
        A: android:name(0x01010003)="com.antivirus.ui.versionUpdate.VersionUpdateProgressDialog" (Raw: "com.antivirus.ui.versionUpdate.VersionUpdateProgressDialog")
        A: android:taskAffinity(0x01010012)="" (Raw: "")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=178)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.help.Help" (Raw: "com.antivirus.ui.help.Help")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=179)
        A: android:name(0x01010003)="com.avg.ui.general.about.AboutActivity" (Raw: "com.avg.ui.general.about.AboutActivity")
      E: activity (line=180)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.help.HelpTabletActivity" (Raw: "com.antivirus.ui.help.HelpTabletActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=181)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.settings.LanguageSelector" (Raw: "com.antivirus.ui.settings.LanguageSelector")
      E: activity (line=182)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.ui.license.EnterLicenseActivity" (Raw: "com.avg.ui.license.EnterLicenseActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=184)
        A: android:name(0x01010003)="com.antivirus.ui.protection.FileScannerActivity" (Raw: "com.antivirus.ui.protection.FileScannerActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=185)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.protection.ProtectionActivity" (Raw: "com.antivirus.ui.protection.ProtectionActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x24
      E: activity (line=187)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.privacy.PrivacyActivity" (Raw: "com.antivirus.ui.privacy.PrivacyActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x24
      E: activity (line=190)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.performance.AvPerformanceActivity" (Raw: "com.antivirus.ui.performance.AvPerformanceActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x34
      E: activity (line=191)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.tuneup.taskkiller.TaskKillerActivity" (Raw: "com.avg.tuneup.taskkiller.TaskKillerActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xb0
      E: activity (line=193)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.antitheft.ui.AntiTheftLockMessage" (Raw: "com.avg.antitheft.ui.AntiTheftLockMessage")
      E: activity (line=194)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.antitheft.ui.AntiTheftActivity" (Raw: "com.avg.antitheft.ui.AntiTheftActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x24
      E: activity (line=195)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.antitheft.ui.AntiThefHowToUseActivity" (Raw: "com.avg.antitheft.ui.AntiThefHowToUseActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=196)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.antitheft.ui.AntiTheftSMSCommandsActivity" (Raw: "com.avg.antitheft.ui.AntiTheftSMSCommandsActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=197)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.antitheft.ui.AntiTheftSMSCommandsNoPasscodeActivity" (Raw: "com.avg.antitheft.ui.AntiTheftSMSCommandsNoPasscodeActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=199)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.antitheft.ui.AntitheftRegisterActivity" (Raw: "com.avg.antitheft.ui.AntitheftRegisterActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=200)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.antitheft.ui.StopShoutActivity" (Raw: "com.avg.antitheft.ui.StopShoutActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x1
      E: activity (line=203)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.applocker.AppBlockActivity" (Raw: "com.antivirus.applocker.AppBlockActivity")
        A: android:taskAffinity(0x01010012)="" (Raw: "")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=204)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.applocker.AppLockerActivity" (Raw: "com.antivirus.applocker.AppLockerActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
        A: android:noHistory(0x0101022d)=(type 0x12)0xffffffff
      E: activity (line=205)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.applocker.LockerBlockActivity" (Raw: "com.antivirus.applocker.LockerBlockActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=206)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.applocker.PasswordConfirmation" (Raw: "com.antivirus.applocker.PasswordConfirmation")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=208)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.wipe.WipeByApp" (Raw: "com.antivirus.wipe.WipeByApp")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=209)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.wipe.WipeSd" (Raw: "com.antivirus.wipe.WipeSd")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=211)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.urlFilter.UrlWarningActivity" (Raw: "com.antivirus.ui.urlFilter.UrlWarningActivity")
        A: android:taskAffinity(0x01010012)="" (Raw: "")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=213)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.antivirus.ui.scan.results.ScanResultsActivity" (Raw: "com.antivirus.ui.scan.results.ScanResultsActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=214)
        A: android:name(0x01010003)="com.antivirus.ui.scan.UnInstall" (Raw: "com.antivirus.ui.scan.UnInstall")
        A: android:taskAffinity(0x01010012)="" (Raw: "")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
      E: activity (line=215)
        A: android:name(0x01010003)="com.antivirus.ui.scan.FileRemover" (Raw: "com.antivirus.ui.scan.FileRemover")
      E: activity (line=216)
        A: android:label(0x01010001)=@0x7f0b0276
        A: android:name(0x01010003)="com.antivirus.ui.scan.ScanBeforeInstallActivity" (Raw: "com.antivirus.ui.scan.ScanBeforeInstallActivity")
        A: android:enabled(0x0101000e)=(type 0x12)0x0
        A: android:taskAffinity(0x01010012)="" (Raw: "")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
        A: android:noHistory(0x0101022d)=(type 0x12)0xffffffff
        E: intent-filter (line=219)
          E: action (line=220)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=221)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
          E: data (line=222)
            A: android:scheme(0x01010027)="content" (Raw: "content")
          E: data (line=223)
            A: android:scheme(0x01010027)="file" (Raw: "file")
          E: data (line=224)
            A: android:mimeType(0x01010026)="application/vnd.android.package-archive" (Raw: "application/vnd.android.package-archive")
      E: activity (line=228)
        A: android:label(0x01010001)="Configuration" (Raw: "Configuration")
        A: android:name(0x01010003)="com.antivirus.widget.AvWidgetConfigurationActivity" (Raw: "com.antivirus.widget.AvWidgetConfigurationActivity")
        A: android:exported(0x01010010)=(type 0x12)0x0
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
        E: intent-filter (line=234)
          E: action (line=235)
            A: android:name(0x01010003)="android.appwidget.action.APPWIDGET_CONFIGURE" (Raw: "android.appwidget.action.APPWIDGET_CONFIGURE")
      E: activity (line=239)
        A: android:theme(0x01010000)=@0x1030010
        A: android:name(0x01010003)="com.avg.widget.activities.TransparentDummyActivity" (Raw: "com.avg.widget.activities.TransparentDummyActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=241)
        A: android:name(0x01010003)="com.antivirus.ui.callmessagefilter.CallMessageFilterActivity" (Raw: "com.antivirus.ui.callmessagefilter.CallMessageFilterActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
        A: android:windowSoftInputMode(0x0101022b)=(type 0x11)0x10
      E: activity (line=244)
        A: android:name(0x01010003)="com.antivirus.ui.callmessagefilter.contacts.ContactsViewActivity" (Raw: "com.antivirus.ui.callmessagefilter.contacts.ContactsViewActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
        A: android:windowSoftInputMode(0x0101022b)=(type 0x11)0x3
      E: activity (line=247)
        A: android:name(0x01010003)="com.mopub.mobileads.MoPubActivity" (Raw: "com.mopub.mobileads.MoPubActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=248)
        A: android:name(0x01010003)="com.mopub.mobileads.MraidActivity" (Raw: "com.mopub.mobileads.MraidActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=249)
        A: android:name(0x01010003)="com.mopub.mobileads.MraidBrowser" (Raw: "com.mopub.mobileads.MraidBrowser")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=250)
        A: android:name(0x01010003)="com.mopub.mobileads.MraidVideoPlayerActivity" (Raw: "com.mopub.mobileads.MraidVideoPlayerActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=251)
        A: android:name(0x01010003)="com.google.ads.AdActivity" (Raw: "com.google.ads.AdActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xfb0
      E: activity (line=253)
        A: android:theme(0x01010000)=@0x1030010
        A: android:name(0x01010003)="com.millennialmedia.android.MMActivity" (Raw: "com.millennialmedia.android.MMActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xb0
      E: activity (line=254)
        A: android:name(0x01010003)="com.millennialmedia.android.VideoPlayer" (Raw: "com.millennialmedia.android.VideoPlayer")
        A: android:configChanges(0x0101001f)=(type 0x11)0xb0
      E: activity (line=257)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.ui.ocm.OverlayActivity" (Raw: "com.avg.ui.ocm.OverlayActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: activity (line=260)
        A: android:label(0x01010001)="" (Raw: "")
        A: android:name(0x01010003)="com.avg.billing.app.AvgBillingActivity" (Raw: "com.avg.billing.app.AvgBillingActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa4
      E: receiver (line=262)
        A: android:name(0x01010003)="com.avg.toolkit.recurringTasks.AlarmReceiver" (Raw: "com.avg.toolkit.recurringTasks.AlarmReceiver")
      E: receiver (line=263)
        A: android:name(0x01010003)="com.avg.toolkit.recurringTasks.RecurringTaskAlarmReceiver" (Raw: "com.avg.toolkit.recurringTasks.RecurringTaskAlarmReceiver")
      E: receiver (line=266)
        A: android:name(0x01010003)="com.antivirus.zen.ZENReportReceiver" (Raw: "com.antivirus.zen.ZENReportReceiver")
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=267)
          E: action (line=268)
            A: android:name(0x01010003)="com.avg.zen.reportsreceiver" (Raw: "com.avg.zen.reportsreceiver")
      E: receiver (line=271)
        A: android:name(0x01010003)="com.antivirus.zen.ZENLoginReceiver" (Raw: "com.antivirus.zen.ZENLoginReceiver")
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=272)
          E: action (line=273)
            A: android:name(0x01010003)="com.avg.zen.loginreceiver" (Raw: "com.avg.zen.loginreceiver")
      E: receiver (line=277)
        A: android:name(0x01010003)="com.avg.toolkit.recurringTasks.BootReceiver" (Raw: "com.avg.toolkit.recurringTasks.BootReceiver")
        E: intent-filter (line=278)
          E: action (line=279)
            A: android:name(0x01010003)="android.intent.action.BOOT_COMPLETED" (Raw: "android.intent.action.BOOT_COMPLETED")
      E: receiver (line=283)
        A: android:name(0x01010003)="com.avg.antitheft.IncomingSmsReceiver" (Raw: "com.avg.antitheft.IncomingSmsReceiver")
        E: intent-filter (line=284)
          A: android:priority(0x0101001c)=(type 0x10)0x7fffffff
          E: action (line=285)
            A: android:name(0x01010003)="android.provider.Telephony.SMS_RECEIVED" (Raw: "android.provider.Telephony.SMS_RECEIVED")
          E: category (line=286)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: receiver (line=290)
        A: android:name(0x01010003)="com.antivirus.core.receivers.PackageAddReceiver" (Raw: "com.antivirus.core.receivers.PackageAddReceiver")
        E: intent-filter (line=291)
          E: action (line=292)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_ADDED" (Raw: "android.intent.action.PACKAGE_ADDED")
          E: data (line=293)
            A: android:scheme(0x01010027)="package" (Raw: "package")
      E: receiver (line=297)
        A: android:name(0x01010003)="com.antivirus.core.receivers.PackageRemovedReceiver" (Raw: "com.antivirus.core.receivers.PackageRemovedReceiver")
        E: intent-filter (line=298)
          E: action (line=299)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REMOVED" (Raw: "android.intent.action.PACKAGE_REMOVED")
          E: data (line=300)
            A: android:scheme(0x01010027)="package" (Raw: "package")
      E: receiver (line=305)
        A: android:name(0x01010003)="com.avg.toolkit.marketing.MarketReferrerReceiver" (Raw: "com.avg.toolkit.marketing.MarketReferrerReceiver")
        E: intent-filter (line=307)
          E: action (line=308)
            A: android:name(0x01010003)="com.android.vending.INSTALL_REFERRER" (Raw: "com.android.vending.INSTALL_REFERRER")
      E: receiver (line=313)
        A: android:name(0x01010003)="com.avg.antitheft.GCMReceiver" (Raw: "com.avg.antitheft.GCMReceiver")
        A: android:permission(0x01010006)="com.google.android.c2dm.permission.SEND" (Raw: "com.google.android.c2dm.permission.SEND")
        E: intent-filter (line=316)
          E: action (line=317)
            A: android:name(0x01010003)="com.google.android.c2dm.intent.RECEIVE" (Raw: "com.google.android.c2dm.intent.RECEIVE")
          E: action (line=318)
            A: android:name(0x01010003)="com.google.android.c2dm.intent.REGISTRATION" (Raw: "com.google.android.c2dm.intent.REGISTRATION")
          E: category (line=320)
            A: android:name(0x01010003)="com.antivirus" (Raw: "com.antivirus")
      E: receiver (line=324)
        A: android:name(0x01010003)="com.antivirus.errors.LG" (Raw: "com.antivirus.errors.LG")
        A: android:permission(0x01010006)="com.antivirus.permission.LG" (Raw: "com.antivirus.permission.LG")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=327)
          E: action (line=328)
            A: android:name(0x01010003)="com.antivirus.LG" (Raw: "com.antivirus.LG")
      E: receiver (line=332)
        A: android:name(0x01010003)="com.avg.tuneup.ShutDownReceiver" (Raw: "com.avg.tuneup.ShutDownReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0x0
        E: intent-filter (line=333)
          E: action (line=334)
            A: android:name(0x01010003)="android.intent.action.ACTION_SHUTDOWN" (Raw: "android.intent.action.ACTION_SHUTDOWN")
          E: action (line=335)
            A: android:name(0x01010003)="android.intent.action.QUICKBOOT_POWEROFF" (Raw: "android.intent.action.QUICKBOOT_POWEROFF")
      E: receiver (line=339)
        A: android:name(0x01010003)="com.avg.antitheft.SimChangeReceiver" (Raw: "com.avg.antitheft.SimChangeReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0x0
        E: intent-filter (line=340)
          E: action (line=341)
            A: android:name(0x01010003)="android.intent.action.SIM_STATE_CHANGED" (Raw: "android.intent.action.SIM_STATE_CHANGED")
          E: action (line=342)
            A: android:name(0x01010003)="android.intent.action.BOOT_COMPLETED" (Raw: "android.intent.action.BOOT_COMPLETED")
      E: receiver (line=346)
        A: android:name(0x01010003)="com.avg.tuneup.ConnectivityReceiver" (Raw: "com.avg.tuneup.ConnectivityReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        E: intent-filter (line=347)
          E: action (line=348)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=352)
        A: android:name(0x01010003)="com.avg.antitheft.AntiTheftConnectivityReceiver" (Raw: "com.avg.antitheft.AntiTheftConnectivityReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0x0
        E: intent-filter (line=353)
          E: action (line=354)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=358)
        A: android:name(0x01010003)="com.antivirus.apploader.AppLoaderAlarmReceiver" (Raw: "com.antivirus.apploader.AppLoaderAlarmReceiver")
        E: intent-filter (line=359)
          E: action (line=360)
            A: android:name(0x01010003)="com.droidsec.apploaderalarm" (Raw: "com.droidsec.apploaderalarm")
      E: receiver (line=364)
        A: android:label(0x01010001)="AVG AntiVirus" (Raw: "AVG AntiVirus")
        A: android:name(0x01010003)="com.antivirus.widget.AvWidgetProvider" (Raw: "com.antivirus.widget.AvWidgetProvider")
        E: intent-filter (line=365)
          E: action (line=366)
            A: android:name(0x01010003)="android.appwidget.action.APPWIDGET_UPDATE" (Raw: "android.appwidget.action.APPWIDGET_UPDATE")
        E: meta-data (line=368)
          A: android:name(0x01010003)="android.appwidget.provider" (Raw: "android.appwidget.provider")
          A: android:resource(0x01010025)=@0x7f050002
      E: receiver (line=372)
        A: android:name(0x01010003)="com.antivirus.callmessagefilter.callblocker.IncomingCallReceiver" (Raw: "com.antivirus.callmessagefilter.callblocker.IncomingCallReceiver")
        E: intent-filter (line=373)
          A: android:priority(0x0101001c)=(type 0x10)0x7fffffff
          E: action (line=374)
            A: android:name(0x01010003)="android.intent.action.PHONE_STATE" (Raw: "android.intent.action.PHONE_STATE")
      E: receiver (line=377)
        A: android:name(0x01010003)="com.antivirus.callmessagefilter.smsblocker.SMSReceiver" (Raw: "com.antivirus.callmessagefilter.smsblocker.SMSReceiver")
        E: intent-filter (line=378)
          A: android:priority(0x0101001c)=(type 0x10)0x7fffffff
          E: action (line=379)
            A: android:name(0x01010003)="android.provider.Telephony.SMS_RECEIVED" (Raw: "android.provider.Telephony.SMS_RECEIVED")
      E: receiver (line=382)
        A: android:name(0x01010003)="com.antivirus.callmessagefilter.callblocker.CellNetworkReceiver" (Raw: "com.antivirus.callmessagefilter.callblocker.CellNetworkReceiver")
        E: intent-filter (line=383)
          E: action (line=384)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=388)
        A: android:name(0x01010003)="com.avg.toolkit.zen.ZENConnectivityReciever" (Raw: "com.avg.toolkit.zen.ZENConnectivityReciever")
        E: intent-filter (line=389)
          E: action (line=390)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=396)
        A: android:name(0x01010003)="com.avg.toolkit.uid.SharedIdReceiver" (Raw: "com.avg.toolkit.uid.SharedIdReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        E: intent-filter (line=398)
          E: action (line=399)
            A: android:name(0x01010003)="com.avg.action.send_your_id" (Raw: "com.avg.action.send_your_id")
          E: action (line=400)
            A: android:name(0x01010003)="com.avg.action.take_id" (Raw: "com.avg.action.take_id")
      E: receiver (line=405)
        A: android:label(0x01010001)=@0x7f0b00eb
        A: android:name(0x01010003)="com.avg.antitheft.AnthitheftDeviceAdminReceiver" (Raw: "com.avg.antitheft.AnthitheftDeviceAdminReceiver")
        A: android:permission(0x01010006)="android.permission.BIND_DEVICE_ADMIN" (Raw: "android.permission.BIND_DEVICE_ADMIN")
        E: meta-data (line=408)
          A: android:name(0x01010003)="android.app.device_admin" (Raw: "android.app.device_admin")
          A: android:resource(0x01010025)=@0x7f050000
        E: intent-filter (line=410)
          E: action (line=411)
            A: android:name(0x01010003)="android.app.action.DEVICE_ADMIN_ENABLED" (Raw: "android.app.action.DEVICE_ADMIN_ENABLED")
      E: receiver (line=415)
        A: android:name(0x01010003)="com.avg.toolkit.ads.ocm.OcmAlarmReceiver" (Raw: "com.avg.toolkit.ads.ocm.OcmAlarmReceiver")
        E: intent-filter (line=416)
          E: action (line=417)
            A: android:name(0x01010003)="com.avg.action.ocm_alarm" (Raw: "com.avg.action.ocm_alarm")
