N: android=http://schemas.android.com/apk/res/android
  E: manifest (line=1)
    A: android:versionCode(0x0101021b)=(type 0x10)0x5fd
    A: android:versionName(0x0101021c)="3.8.6.1533" (Raw: "3.8.6.1533")
    A: package="com.symantec.mobilesecurity" (Raw: "com.symantec.mobilesecurity")
    E: uses-sdk (line=3)
      A: android:minSdkVersion(0x0101020c)=(type 0x10)0x8
      A: android:targetSdkVersion(0x01010270)=(type 0x10)0x11
    E: uses-permission (line=5)
      A: android:name(0x01010003)="android.permission.INTERNET" (Raw: "android.permission.INTERNET")
    E: uses-permission (line=6)
      A: android:name(0x01010003)="android.permission.READ_PHONE_STATE" (Raw: "android.permission.READ_PHONE_STATE")
    E: uses-permission (line=7)
      A: android:name(0x01010003)="android.permission.CALL_PHONE" (Raw: "android.permission.CALL_PHONE")
    E: uses-permission (line=8)
      A: android:name(0x01010003)="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" (Raw: "android.permission.MOUNT_UNMOUNT_FILESYSTEMS")
    E: uses-permission (line=9)
      A: android:name(0x01010003)="android.permission.MOUNT_FORMAT_FILESYSTEMS" (Raw: "android.permission.MOUNT_FORMAT_FILESYSTEMS")
    E: uses-permission (line=10)
      A: android:name(0x01010003)="android.permission.WRITE_EXTERNAL_STORAGE" (Raw: "android.permission.WRITE_EXTERNAL_STORAGE")
    E: uses-permission (line=11)
      A: android:name(0x01010003)="android.permission.RECEIVE_SMS" (Raw: "android.permission.RECEIVE_SMS")
    E: uses-permission (line=12)
      A: android:name(0x01010003)="android.permission.READ_CONTACTS" (Raw: "android.permission.READ_CONTACTS")
    E: uses-permission (line=13)
      A: android:name(0x01010003)="android.permission.WRITE_CONTACTS" (Raw: "android.permission.WRITE_CONTACTS")
    E: uses-permission (line=14)
      A: android:name(0x01010003)="android.permission.READ_CALL_LOG" (Raw: "android.permission.READ_CALL_LOG")
    E: uses-permission (line=15)
      A: android:name(0x01010003)="android.permission.WRITE_CALL_LOG" (Raw: "android.permission.WRITE_CALL_LOG")
    E: uses-permission (line=16)
      A: android:name(0x01010003)="android.permission.READ_SMS" (Raw: "android.permission.READ_SMS")
    E: uses-permission (line=17)
      A: android:name(0x01010003)="android.permission.WRITE_SMS" (Raw: "android.permission.WRITE_SMS")
    E: uses-permission (line=18)
      A: android:name(0x01010003)="android.permission.RESTART_PACKAGES" (Raw: "android.permission.RESTART_PACKAGES")
    E: uses-permission (line=19)
      A: android:name(0x01010003)="com.android.browser.permission.READ_HISTORY_BOOKMARKS" (Raw: "com.android.browser.permission.READ_HISTORY_BOOKMARKS")
    E: uses-permission (line=20)
      A: android:name(0x01010003)="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" (Raw: "com.android.browser.permission.WRITE_HISTORY_BOOKMARKS")
    E: uses-permission (line=21)
      A: android:name(0x01010003)="android.permission.READ_CALENDAR" (Raw: "android.permission.READ_CALENDAR")
    E: uses-permission (line=22)
      A: android:name(0x01010003)="android.permission.WRITE_CALENDAR" (Raw: "android.permission.WRITE_CALENDAR")
    E: uses-permission (line=23)
      A: android:name(0x01010003)="android.permission.RECEIVE_BOOT_COMPLETED" (Raw: "android.permission.RECEIVE_BOOT_COMPLETED")
    E: uses-permission (line=24)
      A: android:name(0x01010003)="android.permission.MODIFY_AUDIO_SETTINGS" (Raw: "android.permission.MODIFY_AUDIO_SETTINGS")
    E: uses-permission (line=25)
      A: android:name(0x01010003)="android.permission.READ_SETTINGS" (Raw: "android.permission.READ_SETTINGS")
    E: uses-permission (line=26)
      A: android:name(0x01010003)="android.permission.WRITE_SETTINGS" (Raw: "android.permission.WRITE_SETTINGS")
    E: uses-permission (line=27)
      A: android:name(0x01010003)="android.permission.SEND_SMS" (Raw: "android.permission.SEND_SMS")
    E: uses-permission (line=28)
      A: android:name(0x01010003)="android.permission.ACCESS_NETWORK_STATE" (Raw: "android.permission.ACCESS_NETWORK_STATE")
    E: uses-permission (line=29)
      A: android:name(0x01010003)="android.permission.ACCESS_FINE_LOCATION" (Raw: "android.permission.ACCESS_FINE_LOCATION")
    E: uses-permission (line=30)
      A: android:name(0x01010003)="android.permission.ACCESS_COARSE_LOCATION" (Raw: "android.permission.ACCESS_COARSE_LOCATION")
    E: uses-permission (line=31)
      A: android:name(0x01010003)="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" (Raw: "android.permission.ACCESS_LOCATION_EXTRA_COMMANDS")
    E: uses-permission (line=32)
      A: android:name(0x01010003)="android.permission.WAKE_LOCK" (Raw: "android.permission.WAKE_LOCK")
    E: uses-permission (line=33)
      A: android:name(0x01010003)="android.permission.READ_LOGS" (Raw: "android.permission.READ_LOGS")
    E: uses-permission (line=34)
      A: android:name(0x01010003)="android.permission.CAMERA" (Raw: "android.permission.CAMERA")
    E: uses-permission (line=37)
      A: android:name(0x01010003)="android.permission.BROADCAST_STICKY" (Raw: "android.permission.BROADCAST_STICKY")
    E: uses-permission (line=40)
      A: android:name(0x01010003)="android.permission.GET_TASKS" (Raw: "android.permission.GET_TASKS")
    E: uses-permission (line=41)
      A: android:name(0x01010003)="android.permission.GET_PACKAGE_SIZE" (Raw: "android.permission.GET_PACKAGE_SIZE")
    E: uses-permission (line=42)
      A: android:name(0x01010003)="android.permission.ACCESS_WIFI_STATE" (Raw: "android.permission.ACCESS_WIFI_STATE")
    E: uses-permission (line=43)
      A: android:name(0x01010003)="android.permission.BLUETOOTH" (Raw: "android.permission.BLUETOOTH")
    E: uses-permission (line=44)
      A: android:name(0x01010003)="android.permission.BLUETOOTH_ADMIN" (Raw: "android.permission.BLUETOOTH_ADMIN")
    E: uses-permission (line=45)
      A: android:name(0x01010003)="android.permission.BATTERY_STATS" (Raw: "android.permission.BATTERY_STATS")
    E: uses-permission (line=48)
      A: android:name(0x01010003)="com.android.vending.BILLING" (Raw: "com.android.vending.BILLING")
    E: uses-permission (line=51)
      A: android:name(0x01010003)="com.sec.android.provider.logsprovider.permission.READ_LOGS" (Raw: "com.sec.android.provider.logsprovider.permission.READ_LOGS")
    E: uses-permission (line=52)
      A: android:name(0x01010003)="com.sec.android.provider.logsprovider.permission.WRITE_LOGS" (Raw: "com.sec.android.provider.logsprovider.permission.WRITE_LOGS")
    E: uses-permission (line=54)
      A: android:name(0x01010003)="com.maf.ce.usage" (Raw: "com.maf.ce.usage")
    E: permission (line=56)
      A: android:name(0x01010003)="com.maf.ce.usage" (Raw: "com.maf.ce.usage")
    E: uses-feature (line=58)
      A: android:name(0x01010003)="android.hardware.telephony" (Raw: "android.hardware.telephony")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=61)
      A: android:name(0x01010003)="android.hardware.camera" (Raw: "android.hardware.camera")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=62)
      A: android:name(0x01010003)="android.hardware.camera.autofocus" (Raw: "android.hardware.camera.autofocus")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=63)
      A: android:name(0x01010003)="android.hardware.camera.flash" (Raw: "android.hardware.camera.flash")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=64)
      A: android:name(0x01010003)="android.hardware.camera.front" (Raw: "android.hardware.camera.front")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=66)
      A: android:name(0x01010003)="android.hardware.bluetooth" (Raw: "android.hardware.bluetooth")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=68)
      A: android:name(0x01010003)="android.hardware.location.gps" (Raw: "android.hardware.location.gps")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-permission (line=70)
      A: android:name(0x01010003)="android.permission.SYSTEM_ALERT_WINDOW" (Raw: "android.permission.SYSTEM_ALERT_WINDOW")
    E: permission (line=72)
      A: android:label(0x01010001)=@0x7f0b0003
      A: android:name(0x01010003)="com.symantec.permission.UNLOCK" (Raw: "com.symantec.permission.UNLOCK")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
      A: android:description(0x01010020)=@0x7f0b0003
    E: uses-permission (line=75)
      A: android:name(0x01010003)="com.symantec.permission.UNLOCK" (Raw: "com.symantec.permission.UNLOCK")
    E: permission-group (line=78)
      A: android:label(0x01010001)=@0x7f0b0004
      A: android:name(0x01010003)="com.symantec.permission-group.MOBILE_SECURITY" (Raw: "com.symantec.permission-group.MOBILE_SECURITY")
      A: android:description(0x01010020)=@0x7f0b0004
    E: permission (line=80)
      A: android:label(0x01010001)=@0x7f0b0003
      A: android:name(0x01010003)="com.symantec.permission.ACCESS_NORTON_SECURITY" (Raw: "com.symantec.permission.ACCESS_NORTON_SECURITY")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
      A: android:permissionGroup(0x0101000a)="com.symantec.permission-group.MOBILE_SECURITY" (Raw: "com.symantec.permission-group.MOBILE_SECURITY")
      A: android:description(0x01010020)=@0x7f0b0003
    E: uses-permission (line=82)
      A: android:name(0x01010003)="com.symantec.permission.ACCESS_NORTON_SECURITY" (Raw: "com.symantec.permission.ACCESS_NORTON_SECURITY")
    E: permission (line=84)
      A: android:label(0x01010001)=@0x7f0b0003
      A: android:name(0x01010003)="com.symantec.permission.ACCESS_LICENSE_STATE" (Raw: "com.symantec.permission.ACCESS_LICENSE_STATE")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x0
      A: android:permissionGroup(0x0101000a)="com.symantec.permission-group.MOBILE_SECURITY" (Raw: "com.symantec.permission-group.MOBILE_SECURITY")
      A: android:description(0x01010020)=@0x7f0b0003
    E: uses-permission (line=86)
      A: android:name(0x01010003)="com.symantec.permission.ACCESS_LICENSE_STATE" (Raw: "com.symantec.permission.ACCESS_LICENSE_STATE")
    E: permission (line=89)
      A: android:label(0x01010001)="receive_cmd_permission" (Raw: "receive_cmd_permission")
      A: android:name(0x01010003)="com.symantec.starmoblie.permission.receive_ctrl" (Raw: "com.symantec.starmoblie.permission.receive_ctrl")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: uses-permission (line=91)
      A: android:name(0x01010003)="com.symantec.starmoblie.permission.receive_ctrl" (Raw: "com.symantec.starmoblie.permission.receive_ctrl")
    E: permission (line=94)
      A: android:name(0x01010003)="com.symantec.mobilesecurity.permission.C2D_MESSAGE" (Raw: "com.symantec.mobilesecurity.permission.C2D_MESSAGE")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: uses-permission (line=97)
      A: android:name(0x01010003)="android.permission.GET_ACCOUNTS" (Raw: "android.permission.GET_ACCOUNTS")
    E: uses-permission (line=98)
      A: android:name(0x01010003)="com.google.android.c2dm.permission.RECEIVE" (Raw: "com.google.android.c2dm.permission.RECEIVE")
    E: uses-permission (line=99)
      A: android:name(0x01010003)="com.symantec.mobilesecurity.permission.C2D_MESSAGE" (Raw: "com.symantec.mobilesecurity.permission.C2D_MESSAGE")
    E: application (line=101)
      A: android:theme(0x01010000)=@0x7f0e0000
      A: android:label(0x01010001)=@0x7f0b0003
      A: android:icon(0x01010002)=@0x7f02004c
      A: android:name(0x01010003)="com.symantec.mobilesecurity.service.ApplicationLauncher" (Raw: "com.symantec.mobilesecurity.service.ApplicationLauncher")
      A: android:allowClearUserData(0x01010005)=(type 0x12)0x0
      A: android:allowBackup(0x01010280)=(type 0x12)0x0
      A: android:logo(0x010102be)=@0x7f020053
      A: android:hardwareAccelerated(0x010102d3)=(type 0x12)0xffffffff
      E: meta-data (line=102)
        A: android:name(0x01010003)="maf.ce.signature" (Raw: "maf.ce.signature")
        A: android:value(0x01010024)="wG7jVIhdwQ9nfUhrwElj4nn3zo+rXxn935TWrQVV9uJ/R0O4dMejyXXZ1g54Rleiexgjc5uLlV/WsSnmPmVXvmHzwsVdAgha4AR5PZE576OQC03xvKliUZ66uDKlrLFZ671dtofh8MAJD5r1klI6m/9rsu/Ozl9fhYQA/mHvH9xmB0WOSi4sy/2yevOaSjnl4ZWzoa1loYj4z6AbISOwAk1MN59EFH7H1za0TIzbAS2VeQ1L/0H40KZe0vL670gNXPSILUqA8vsennvFe1wiupyt69XlUA5ZySko73Cbdbcd5GcU6Hwn6RQuot76uFupqXk/I+mFsC80OyFDIxU/Ow==" (Raw: "wG7jVIhdwQ9nfUhrwElj4nn3zo+rXxn935TWrQVV9uJ/R0O4dMejyXXZ1g54Rleiexgjc5uLlV/WsSnmPmVXvmHzwsVdAgha4AR5PZE576OQC03xvKliUZ66uDKlrLFZ671dtofh8MAJD5r1klI6m/9rsu/Ozl9fhYQA/mHvH9xmB0WOSi4sy/2yevOaSjnl4ZWzoa1loYj4z6AbISOwAk1MN59EFH7H1za0TIzbAS2VeQ1L/0H40KZe0vL670gNXPSILUqA8vsennvFe1wiupyt69XlUA5ZySko73Cbdbcd5GcU6Hwn6RQuot76uFupqXk/I+mFsC80OyFDIxU/Ow==")
      E: activity (line=104)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f0b0006
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.Startor" (Raw: "com.symantec.mobilesecurity.ui.Startor")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
        E: intent-filter (line=105)
          E: action (line=106)
            A: android:name(0x01010003)="android.intent.action.MAIN" (Raw: "android.intent.action.MAIN")
          E: category (line=108)
            A: android:name(0x01010003)="android.intent.category.LAUNCHER" (Raw: "android.intent.category.LAUNCHER")
        E: intent-filter (line=112)
          E: action (line=113)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=114)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
          E: category (line=115)
            A: android:name(0x01010003)="android.intent.category.BROWSABLE" (Raw: "android.intent.category.BROWSABLE")
          E: data (line=116)
            A: android:scheme(0x01010027)="nortonmobilesecurity" (Raw: "nortonmobilesecurity")
            A: android:host(0x01010028)="activate" (Raw: "activate")
      E: activity (line=119)
        A: android:label(0x01010001)=@0x7f0b0005
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.EulaAgreementActivity" (Raw: "com.symantec.mobilesecurity.ui.EulaAgreementActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=120)
        A: android:label(0x01010001)=@0x7f0b0005
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.EulaDisplayActivity" (Raw: "com.symantec.mobilesecurity.ui.EulaDisplayActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=121)
        A: android:label(0x01010001)=@0x7f0b0005
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.PrivacyPolicyDisplayActivity" (Raw: "com.symantec.mobilesecurity.ui.PrivacyPolicyDisplayActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=122)
        A: android:label(0x01010001)=@0x7f0b0005
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.LoginActivity" (Raw: "com.symantec.mobilesecurity.ui.LoginActivity")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=123)
        A: android:label(0x01010001)=@0x7f0b0005
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.phone.ViewPagerActivity" (Raw: "com.symantec.mobilesecurity.ui.phone.ViewPagerActivity")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
        A: android:windowSoftInputMode(0x0101022b)=(type 0x11)0x20
      E: activity (line=124)
        A: android:label(0x01010001)=@0x7f0b0013
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.phone.SettingsActivity" (Raw: "com.symantec.mobilesecurity.ui.phone.SettingsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=126)
        A: android:label(0x01010001)=@0x7f0b0014
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.phone.ActivityLogActivity" (Raw: "com.symantec.mobilesecurity.ui.phone.ActivityLogActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=128)
        A: android:label(0x01010001)=@0x7f0b0016
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.phone.AppHelpActivity" (Raw: "com.symantec.mobilesecurity.ui.phone.AppHelpActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=130)
        A: android:label(0x01010001)=@0x7f0b0017
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.phone.ProductAboutActivity" (Raw: "com.symantec.mobilesecurity.ui.phone.ProductAboutActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=132)
        A: android:label(0x01010001)=@0x7f0b001d
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.AppDetailsActivity" (Raw: "com.symantec.mobilesecurity.ui.AppDetailsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=134)
        A: android:label(0x01010001)=@0x7f0b0005
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.PremiumTrialEndsActivity" (Raw: "com.symantec.mobilesecurity.ui.PremiumTrialEndsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=136)
        A: android:label(0x01010001)=@0x7f0b0009
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.callfirewall.AddBlockNumberActivity" (Raw: "com.symantec.mobilesecurity.ui.callfirewall.AddBlockNumberActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=138)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:label(0x01010001)=@0x7f0b0022
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.MaliciousWarningDialog" (Raw: "com.symantec.mobilesecurity.ui.MaliciousWarningDialog")
        A: android:taskAffinity(0x01010012)="com.symantec.mobilesecurity.ui.warning.maliciousapk" (Raw: "com.symantec.mobilesecurity.ui.warning.maliciousapk")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=140)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:label(0x01010001)=@0x7f0b00aa
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.EnableDeviceAdminDialog" (Raw: "com.symantec.mobilesecurity.ui.EnableDeviceAdminDialog")
      E: activity (line=142)
        A: android:name(0x01010003)="com.symantec.drm.malt.ui.LicenseWebViewActivity" (Raw: "com.symantec.drm.malt.ui.LicenseWebViewActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=143)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f0b0003
        A: android:name(0x01010003)="com.symantec.mobilesecurity.antitheft.web.ui.SystemLockerHintActivity" (Raw: "com.symantec.mobilesecurity.antitheft.web.ui.SystemLockerHintActivity")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
      E: activity (line=144)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f0b0003
        A: android:name(0x01010003)="com.symantec.mobilesecurity.antitheft.web.ui.SystemLockerRestoreActivity" (Raw: "com.symantec.mobilesecurity.antitheft.web.ui.SystemLockerRestoreActivity")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
      E: activity (line=145)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.LiveUpdateProgressDialog" (Raw: "com.symantec.mobilesecurity.ui.LiveUpdateProgressDialog")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=146)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.LiveUpdateApkDialog" (Raw: "com.symantec.mobilesecurity.ui.LiveUpdateApkDialog")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=147)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.TurnOnUnknownSourcesDialog" (Raw: "com.symantec.mobilesecurity.ui.TurnOnUnknownSourcesDialog")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=148)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.UpgradeGuideDialog" (Raw: "com.symantec.mobilesecurity.ui.UpgradeGuideDialog")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=149)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.UserRateDialog" (Raw: "com.symantec.mobilesecurity.ui.UserRateDialog")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=151)
        A: android:label(0x01010001)=@0x7f0b0003
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.UpgradeAndRenewActivity" (Raw: "com.symantec.mobilesecurity.ui.UpgradeAndRenewActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=153)
        A: android:label(0x01010001)=@0x7f0b01fd
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.LicenseInfo" (Raw: "com.symantec.mobilesecurity.ui.LicenseInfo")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
        A: android:configChanges(0x0101001f)=(type 0x11)0x480
      E: activity (line=155)
        A: android:label(0x01010001)=@0x7f0b0043
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.ProtectionSummaryActivity" (Raw: "com.symantec.mobilesecurity.ui.ProtectionSummaryActivity")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=158)
        A: android:label(0x01010001)=@0x7f0b001e
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.backup.TimestampListActivity" (Raw: "com.symantec.mobilesecurity.ui.backup.TimestampListActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=160)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:name(0x01010003)="com.symantec.mobilesecurity.safeweb.WarningActivity" (Raw: "com.symantec.mobilesecurity.safeweb.WarningActivity")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
        A: android:noHistory(0x0101022d)=(type 0x12)0xffffffff
        E: intent-filter (line=161)
          E: action (line=162)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=163)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
          E: category (line=164)
            A: android:name(0x01010003)="android.intent.category.BROWSABLE" (Raw: "android.intent.category.BROWSABLE")
          E: data (line=165)
            A: android:scheme(0x01010027)="symc" (Raw: "symc")
            A: android:host(0x01010028)="com.symantec.mobilesecurity.safeweb" (Raw: "com.symantec.mobilesecurity.safeweb")
      E: activity (line=168)
        A: android:theme(0x01010000)=@0x7f0e0002
        A: android:name(0x01010003)="com.symantec.webkitbridge.bridge.BrowserActivity" (Raw: "com.symantec.webkitbridge.bridge.BrowserActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=170)
        A: android:theme(0x01010000)=@0x7f0e0021
        A: android:label(0x01010001)=@0x7f0b002e
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.ApkPriorInstallationScan" (Raw: "com.symantec.mobilesecurity.ui.ApkPriorInstallationScan")
        A: android:enabled(0x0101000e)=(type 0x12)0x0
        A: android:taskAffinity(0x01010012)="com.symantec.mobilesecurity.priorinstallationscan" (Raw: "com.symantec.mobilesecurity.priorinstallationscan")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
        E: intent-filter (line=171)
          E: action (line=172)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: action (line=173)
            A: android:name(0x01010003)="android.intent.action.INSTALL_PACKAGE" (Raw: "android.intent.action.INSTALL_PACKAGE")
          E: category (line=174)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
          E: data (line=175)
            A: android:scheme(0x01010027)="file" (Raw: "file")
          E: data (line=176)
            A: android:mimeType(0x01010026)="application/vnd.android.package-archive" (Raw: "application/vnd.android.package-archive")
        E: intent-filter (line=178)
          E: action (line=179)
            A: android:name(0x01010003)="android.intent.action.INSTALL_PACKAGE" (Raw: "android.intent.action.INSTALL_PACKAGE")
          E: category (line=180)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
          E: data (line=181)
            A: android:scheme(0x01010027)="file" (Raw: "file")
          E: data (line=182)
            A: android:scheme(0x01010027)="package" (Raw: "package")
      E: activity (line=185)
        A: android:theme(0x01010000)=@0x1030010
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.notification.ActionResponser" (Raw: "com.symantec.mobilesecurity.ui.notification.ActionResponser")
        A: android:taskAffinity(0x01010012)="com.symantec.mobilesecurity.ui.notification.action" (Raw: "com.symantec.mobilesecurity.ui.notification.action")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=186)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:label(0x01010001)=@0x7f0b0022
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.MalwareFoundDialog" (Raw: "com.symantec.mobilesecurity.ui.MalwareFoundDialog")
        A: android:taskAffinity(0x01010012)="com.symantec.mobilesecurity.ui.warning.maliciousapp" (Raw: "com.symantec.mobilesecurity.ui.warning.maliciousapp")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=188)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:label(0x01010001)=@0x7f0b0022
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.MaliciousRemoveDialog" (Raw: "com.symantec.mobilesecurity.ui.MaliciousRemoveDialog")
        A: android:taskAffinity(0x01010012)="com.symantec.mobilesecurity.ui.warning.maliciousremoveapk" (Raw: "com.symantec.mobilesecurity.ui.warning.maliciousremoveapk")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=190)
        A: android:theme(0x01010000)=@0x7f0e0020
        A: android:label(0x01010001)=@0x7f0b0022
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.NortonInfoDialog" (Raw: "com.symantec.mobilesecurity.ui.NortonInfoDialog")
        A: android:taskAffinity(0x01010012)="com.symantec.mobilesecurity.ui.info.dialog" (Raw: "com.symantec.mobilesecurity.ui.info.dialog")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4b0
      E: activity (line=193)
        A: android:label(0x01010001)=@0x7f0b0005
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.WelcomeActivity" (Raw: "com.symantec.mobilesecurity.ui.WelcomeActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: activity (line=195)
        A: android:label(0x01010001)=@0x7f0b0005
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.WhatsNewActivity" (Raw: "com.symantec.mobilesecurity.ui.WhatsNewActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x5
      E: receiver (line=199)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.NMSDailyAlarm" (Raw: "com.symantec.mobilesecurity.service.NMSDailyAlarm")
      E: receiver (line=201)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.NMSWeeklyAlarm" (Raw: "com.symantec.mobilesecurity.service.NMSWeeklyAlarm")
      E: receiver (line=203)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.NMSMonthlyAlarm" (Raw: "com.symantec.mobilesecurity.service.NMSMonthlyAlarm")
      E: receiver (line=205)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.RemoteLocateAlarm" (Raw: "com.symantec.mobilesecurity.service.RemoteLocateAlarm")
      E: receiver (line=206)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.NortonBootCompletedReceiver" (Raw: "com.symantec.mobilesecurity.service.NortonBootCompletedReceiver")
        E: intent-filter (line=207)
          A: android:priority(0x0101001c)=(type 0x10)0x7fffffff
          E: action (line=208)
            A: android:name(0x01010003)="android.intent.action.BOOT_COMPLETED" (Raw: "android.intent.action.BOOT_COMPLETED")
          E: action (line=209)
            A: android:name(0x01010003)="android.intent.action.ACTION_SHUTDOWN" (Raw: "android.intent.action.ACTION_SHUTDOWN")
      E: receiver (line=212)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.antitheft.web.nat.CameraShotAlarmReceiver" (Raw: "com.symantec.mobilesecurity.antitheft.web.nat.CameraShotAlarmReceiver")
      E: receiver (line=213)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.CommandReceiver" (Raw: "com.symantec.mobilesecurity.service.CommandReceiver")
        E: intent-filter (line=214)
          A: android:priority(0x0101001c)=(type 0x10)0x7fffffff
          E: action (line=215)
            A: android:name(0x01010003)="android.provider.Telephony.SMS_RECEIVED" (Raw: "android.provider.Telephony.SMS_RECEIVED")
      E: receiver (line=218)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.TimeChangedReceiver" (Raw: "com.symantec.mobilesecurity.service.TimeChangedReceiver")
        E: intent-filter (line=219)
          E: action (line=220)
            A: android:name(0x01010003)="android.intent.action.TIME_SET" (Raw: "android.intent.action.TIME_SET")
      E: receiver (line=224)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.UserRateReceiver" (Raw: "com.symantec.mobilesecurity.service.UserRateReceiver")
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=225)
          E: action (line=226)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.webblockedsuccess" (Raw: "com.symantec.mobilesecurity.webblockedsuccess")
          E: action (line=227)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.cleanallmalware" (Raw: "com.symantec.mobilesecurity.cleanallmalware")
          E: action (line=228)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.mainscreencheck" (Raw: "com.symantec.mobilesecurity.mainscreencheck")
      E: receiver (line=231)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.bootStarter" (Raw: "com.symantec.mobilesecurity.service.bootStarter")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        E: intent-filter (line=232)
          E: action (line=233)
            A: android:name(0x01010003)="android.intent.action.NEW_OUTGOING_CALL" (Raw: "android.intent.action.NEW_OUTGOING_CALL")
          E: action (line=234)
            A: android:name(0x01010003)="android.media.RINGER_MODE_CHANGED" (Raw: "android.media.RINGER_MODE_CHANGED")
      E: receiver (line=237)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.CollectAlarm" (Raw: "com.symantec.mobilesecurity.service.CollectAlarm")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
      E: receiver (line=238)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.UploadAlarm" (Raw: "com.symantec.mobilesecurity.service.UploadAlarm")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
      E: receiver (line=239)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.NortonPingAlarm" (Raw: "com.symantec.mobilesecurity.service.NortonPingAlarm")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
      E: receiver (line=240)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.CollectorReceiver" (Raw: "com.symantec.mobilesecurity.service.CollectorReceiver")
        E: intent-filter (line=241)
          E: data (line=242)
            A: android:scheme(0x01010027)="package" (Raw: "package")
          E: action (line=244)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_ADDED" (Raw: "android.intent.action.PACKAGE_ADDED")
          E: action (line=245)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REPLACED" (Raw: "android.intent.action.PACKAGE_REPLACED")
          E: action (line=246)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REMOVED" (Raw: "android.intent.action.PACKAGE_REMOVED")
          E: action (line=248)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_RESTARTED" (Raw: "android.intent.action.PACKAGE_RESTARTED")
          E: action (line=250)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_CHANGED" (Raw: "android.intent.action.PACKAGE_CHANGED")
          E: action (line=252)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_INSTALL" (Raw: "android.intent.action.PACKAGE_INSTALL")
        E: intent-filter (line=255)
          E: action (line=256)
            A: android:name(0x01010003)="com.symantec.smrs.collector.COLLECT_DATA" (Raw: "com.symantec.smrs.collector.COLLECT_DATA")
          E: action (line=257)
            A: android:name(0x01010003)="com.symantec.smrs.collector.UPLOAD_DATA" (Raw: "com.symantec.smrs.collector.UPLOAD_DATA")
        E: intent-filter (line=259)
          E: action (line=260)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
        E: intent-filter (line=263)
          E: action (line=264)
            A: android:name(0x01010003)="android.intent.action.TIME_SET" (Raw: "android.intent.action.TIME_SET")
        E: intent-filter (line=266)
          E: action (line=267)
            A: android:name(0x01010003)="android.intent.action.SMRS_LOGMONITOR" (Raw: "android.intent.action.SMRS_LOGMONITOR")
          E: category (line=269)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
        E: intent-filter (line=271)
          E: action (line=272)
            A: android:name(0x01010003)="com.symantec.smrs.collector.intent.action.SMS_CHANGED" (Raw: "com.symantec.smrs.collector.intent.action.SMS_CHANGED")
          E: action (line=273)
            A: android:name(0x01010003)="com.symantec.smrs.collector.intent.action.CALL_CHANGED" (Raw: "com.symantec.smrs.collector.intent.action.CALL_CHANGED")
      E: receiver (line=276)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.AgreeEulaReceiver" (Raw: "com.symantec.mobilesecurity.service.AgreeEulaReceiver")
        E: intent-filter (line=277)
          E: action (line=278)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.AGREE_EULA" (Raw: "com.symantec.mobilesecurity.AGREE_EULA")
      E: receiver (line=281)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.PackageMonitor" (Raw: "com.symantec.mobilesecurity.service.PackageMonitor")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        E: intent-filter (line=282)
          A: android:priority(0x0101001c)=(type 0x10)0x7fffffff
          E: action (line=283)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_ADDED" (Raw: "android.intent.action.PACKAGE_ADDED")
          E: action (line=284)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REMOVED" (Raw: "android.intent.action.PACKAGE_REMOVED")
          E: action (line=285)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REPLACED" (Raw: "android.intent.action.PACKAGE_REPLACED")
          E: data (line=287)
            A: android:scheme(0x01010027)="package" (Raw: "package")
      E: receiver (line=291)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.trial.UpdateReceiver" (Raw: "com.symantec.mobilesecurity.trial.UpdateReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        E: intent-filter (line=292)
          E: action (line=293)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REPLACED" (Raw: "android.intent.action.PACKAGE_REPLACED")
          E: data (line=294)
            A: android:scheme(0x01010027)="package" (Raw: "package")
      E: receiver (line=298)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.WhoAmIReceiver" (Raw: "com.symantec.mobilesecurity.service.WhoAmIReceiver")
        E: intent-filter (line=299)
          E: action (line=300)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.WHO_AM_I" (Raw: "com.symantec.mobilesecurity.WHO_AM_I")
      E: receiver (line=305)
        A: android:name(0x01010003)="com.symantec.licensemanager.playstore.iab.BillingReceiver" (Raw: "com.symantec.licensemanager.playstore.iab.BillingReceiver")
        E: intent-filter (line=306)
          E: action (line=307)
            A: android:name(0x01010003)="android.net.wifi.STATE_CHANGE" (Raw: "android.net.wifi.STATE_CHANGE")
          E: action (line=308)
            A: android:name(0x01010003)="com.android.vending.billing.IN_APP_NOTIFY" (Raw: "com.android.vending.billing.IN_APP_NOTIFY")
          E: action (line=309)
            A: android:name(0x01010003)="com.android.vending.billing.RESPONSE_CODE" (Raw: "com.android.vending.billing.RESPONSE_CODE")
          E: action (line=310)
            A: android:name(0x01010003)="com.android.vending.billing.PURCHASE_STATE_CHANGED" (Raw: "com.android.vending.billing.PURCHASE_STATE_CHANGED")
      E: receiver (line=313)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.antimalware.MalwareScanAlarm" (Raw: "com.symantec.mobilesecurity.antimalware.MalwareScanAlarm")
      E: receiver (line=314)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.state.StateAlarm" (Raw: "com.symantec.mobilesecurity.state.StateAlarm")
      E: receiver (line=315)
        A: android:name(0x01010003)="com.symantec.mobile.lifecycle.ScheduleAlarmReceiver" (Raw: "com.symantec.mobile.lifecycle.ScheduleAlarmReceiver")
      E: receiver (line=316)
        A: android:name(0x01010003)="com.symantec.mobile.lifecycle.LifecycleNetworkDetector" (Raw: "com.symantec.mobile.lifecycle.LifecycleNetworkDetector")
        E: intent-filter (line=317)
          E: action (line=318)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=322)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.ReferralTrackingReceiver" (Raw: "com.symantec.mobilesecurity.service.ReferralTrackingReceiver")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=323)
          E: action (line=324)
            A: android:name(0x01010003)="com.android.vending.INSTALL_REFERRER" (Raw: "com.android.vending.INSTALL_REFERRER")
      E: receiver (line=328)
        A: android:name(0x01010003)="com.symantec.oxygen.spoc.GcmBroadcastReceiver" (Raw: "com.symantec.oxygen.spoc.GcmBroadcastReceiver")
        A: android:permission(0x01010006)="com.google.android.c2dm.permission.SEND" (Raw: "com.google.android.c2dm.permission.SEND")
        E: intent-filter (line=329)
          E: action (line=330)
            A: android:name(0x01010003)="com.google.android.c2dm.intent.RECEIVE" (Raw: "com.google.android.c2dm.intent.RECEIVE")
          E: category (line=331)
            A: android:name(0x01010003)="com.symantec.mobilesecurity" (Raw: "com.symantec.mobilesecurity")
      E: receiver (line=335)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.PowerConnectedReceiver" (Raw: "com.symantec.mobilesecurity.service.PowerConnectedReceiver")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=336)
          E: action (line=337)
            A: android:name(0x01010003)="android.intent.action.ACTION_POWER_CONNECTED" (Raw: "android.intent.action.ACTION_POWER_CONNECTED")
      E: service (line=341)
        A: android:label(0x01010001)=@0x7f0b0003
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.NortonInitService" (Raw: "com.symantec.mobilesecurity.service.NortonInitService")
        A: android:permission(0x01010006)="com.symantec.permission.ACCESS_NORTON_SECURITY" (Raw: "com.symantec.permission.ACCESS_NORTON_SECURITY")
        E: intent-filter (line=342)
          E: action (line=343)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.HOSTSERVICE" (Raw: "com.symantec.mobilesecurity.HOSTSERVICE")
          E: action (line=344)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.ui.notifier" (Raw: "com.symantec.mobilesecurity.ui.notifier")
          E: action (line=345)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.bugreport.onreport" (Raw: "com.symantec.mobilesecurity.bugreport.onreport")
          E: action (line=346)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.remotecommand.oncommand" (Raw: "com.symantec.mobilesecurity.remotecommand.oncommand")
          E: action (line=347)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.alarm.onalarm" (Raw: "com.symantec.mobilesecurity.alarm.onalarm")
          E: action (line=348)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.malwarescan.scan" (Raw: "com.symantec.mobilesecurity.malwarescan.scan")
          E: action (line=349)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.bootcomplete" (Raw: "com.symantec.mobilesecurity.bootcomplete")
      E: service (line=352)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.CollectorService" (Raw: "com.symantec.mobilesecurity.service.CollectorService")
        A: android:permission(0x01010006)="com.symantec.permission.ACCESS_NORTON_SECURITY" (Raw: "com.symantec.permission.ACCESS_NORTON_SECURITY")
        E: intent-filter (line=353)
          E: action (line=354)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.collector" (Raw: "com.symantec.mobilesecurity.collector")
          E: action (line=355)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.SERVICE" (Raw: "com.symantec.mobilesecurity.SERVICE")
      E: service (line=358)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.CallFwService" (Raw: "com.symantec.mobilesecurity.service.CallFwService")
        A: android:permission(0x01010006)="com.symantec.permission.ACCESS_NORTON_SECURITY" (Raw: "com.symantec.permission.ACCESS_NORTON_SECURITY")
        E: intent-filter (line=359)
          E: action (line=360)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.callfirewall" (Raw: "com.symantec.mobilesecurity.callfirewall")
          E: action (line=361)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.SERVICE" (Raw: "com.symantec.mobilesecurity.SERVICE")
      E: service (line=364)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.RemoteService" (Raw: "com.symantec.mobilesecurity.service.RemoteService")
        A: android:permission(0x01010006)="com.symantec.permission.ACCESS_NORTON_SECURITY" (Raw: "com.symantec.permission.ACCESS_NORTON_SECURITY")
        E: intent-filter (line=365)
          E: action (line=366)
            A: android:name(0x01010003)="com.symantec.mobilesecurity.INmsRemoteService" (Raw: "com.symantec.mobilesecurity.INmsRemoteService")
      E: service (line=369)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.ce.MAFCENode_public_main" (Raw: "com.symantec.mobilesecurity.ce.MAFCENode_public_main")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=370)
          E: action (line=371)
            A: android:name(0x01010003)="com.symantec.maf.ce" (Raw: "com.symantec.maf.ce")
      E: service (line=377)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.management.ManagementService" (Raw: "com.symantec.mobilesecurity.management.ManagementService")
      E: service (line=378)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.management.o2event.O2EventService" (Raw: "com.symantec.mobilesecurity.management.o2event.O2EventService")
      E: service (line=380)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.management.LicenseService" (Raw: "com.symantec.mobilesecurity.management.LicenseService")
        A: android:permission(0x01010006)="com.symantec.permission.ACCESS_LICENSE_STATE" (Raw: "com.symantec.permission.ACCESS_LICENSE_STATE")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=381)
          E: action (line=382)
            A: android:name(0x01010003)="com.symantec.service.LicenseService" (Raw: "com.symantec.service.LicenseService")
      E: receiver (line=387)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.management.PackageObserver" (Raw: "com.symantec.mobilesecurity.management.PackageObserver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        E: intent-filter (line=388)
          A: android:priority(0x0101001c)=(type 0x10)0x7fffffff
          E: action (line=389)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REMOVED" (Raw: "android.intent.action.PACKAGE_REMOVED")
          E: data (line=390)
            A: android:scheme(0x01010027)="package" (Raw: "package")
      E: receiver (line=396)
        A: android:label(0x01010001)=@0x7f0b0003
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.AntiTheftDeviceAdminReceiver" (Raw: "com.symantec.mobilesecurity.service.AntiTheftDeviceAdminReceiver")
        A: android:permission(0x01010006)="android.permission.BIND_DEVICE_ADMIN" (Raw: "android.permission.BIND_DEVICE_ADMIN")
        A: android:description(0x01010020)=@0x7f0b0003
        E: meta-data (line=397)
          A: android:name(0x01010003)="android.app.device_admin" (Raw: "android.app.device_admin")
          A: android:resource(0x01010025)=@0x7f050000
        E: intent-filter (line=399)
          E: action (line=400)
            A: android:name(0x01010003)="android.app.action.DEVICE_ADMIN_ENABLED" (Raw: "android.app.action.DEVICE_ADMIN_ENABLED")
          E: action (line=401)
            A: android:name(0x01010003)="android.app.action.ACTION_PASSWORD_FAILED" (Raw: "android.app.action.ACTION_PASSWORD_FAILED")
          E: action (line=402)
            A: android:name(0x01010003)="android.app.action.ACTION_PASSWORD_SUCCEEDED" (Raw: "android.app.action.ACTION_PASSWORD_SUCCEEDED")
      E: service (line=406)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.antitheft.web.ui.CustomizedLockerService" (Raw: "com.symantec.mobilesecurity.antitheft.web.ui.CustomizedLockerService")
      E: service (line=408)
        A: android:name(0x01010003)="com.symantec.mobilesecurity.service.WorkerService" (Raw: "com.symantec.mobilesecurity.service.WorkerService")
