[test]
#update ok:
#machines = ahnlab,avast,avg,bitdef,fsecure,comodo,avira
#machines = msessential,norton,panda,trendm
#machines = drweb,emsisoft,eset,gdata
#machines = avast,avira,drweb,eset,fsecure,gdata,kis,mcafee,msessential,norton,panda,trendm,pctools,avg,bitdef,sophos,zoneal,ahnlab,mbytes,norman,comodo
#machines = avast,avira,eset,fsecure,gdata,mcafee,msessential,norton,panda,trendm,pctools,avg,bitdef,sophos,zoneal,ahnlab,mbytes,norman,comodo,drweb
machines = kis,panda,avast
[update]
machines = zeno
