N: android=http://schemas.android.com/apk/res/android
  E: manifest (line=2)
    A: android:versionCode(0x0101021b)=(type 0x10)0xb3d
    A: android:versionName(0x0101021c)="3.4" (Raw: "3.4")
    A: package="com.avira.android" (Raw: "com.avira.android")
    E: uses-sdk (line=7)
      A: android:minSdkVersion(0x0101020c)=(type 0x10)0x8
      A: android:targetSdkVersion(0x01010270)=(type 0x10)0x12
    E: uses-feature (line=11)
      A: android:name(0x01010003)="android.hardware.telephony" (Raw: "android.hardware.telephony")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-feature (line=14)
      A: android:name(0x01010003)="android.hardware.location.gps" (Raw: "android.hardware.location.gps")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: supports-screens (line=18)
      A: android:anyDensity(0x0101026c)=(type 0x12)0xffffffff
      A: android:smallScreens(0x01010284)=(type 0x12)0x0
      A: android:normalScreens(0x01010285)=(type 0x12)0xffffffff
      A: android:largeScreens(0x01010286)=(type 0x12)0xffffffff
      A: android:xlargeScreens(0x010102bf)=(type 0x12)0xffffffff
    E: permission (line=25)
      A: android:name(0x01010003)="com.avira.android.permission.REMOTE_LOCK_SERVICE" (Raw: "com.avira.android.permission.REMOTE_LOCK_SERVICE")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: permission (line=28)
      A: android:name(0x01010003)="com.avira.android.permission.INVOKE_INTERNAL_HANDLER" (Raw: "com.avira.android.permission.INVOKE_INTERNAL_HANDLER")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: permission (line=31)
      A: android:name(0x01010003)="com.avira.android.permission.INVOKE_WIPE_FEATURES" (Raw: "com.avira.android.permission.INVOKE_WIPE_FEATURES")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: permission (line=34)
      A: android:name(0x01010003)="com.avira.android.permission.MAPS_RECEIVE" (Raw: "com.avira.android.permission.MAPS_RECEIVE")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: uses-permission (line=39)
      A: android:name(0x01010003)="com.avira.android.permission.MAPS_RECEIVE" (Raw: "com.avira.android.permission.MAPS_RECEIVE")
    E: uses-permission (line=40)
      A: android:name(0x01010003)="com.google.android.providers.gsf.permission.READ_GSERVICES" (Raw: "com.google.android.providers.gsf.permission.READ_GSERVICES")
    E: permission (line=43)
      A: android:name(0x01010003)="com.avira.android.permission.C2D_MESSAGE" (Raw: "com.avira.android.permission.C2D_MESSAGE")
      A: android:protectionLevel(0x01010009)=(type 0x11)0x2
    E: uses-permission (line=47)
      A: android:name(0x01010003)="com.avira.android.permission.C2D_MESSAGE" (Raw: "com.avira.android.permission.C2D_MESSAGE")
    E: uses-permission (line=48)
      A: android:name(0x01010003)="com.avira.android.permission.REMOTE_LOCK_SERVICE" (Raw: "com.avira.android.permission.REMOTE_LOCK_SERVICE")
    E: uses-permission (line=51)
      A: android:name(0x01010003)="com.google.android.c2dm.permission.RECEIVE" (Raw: "com.google.android.c2dm.permission.RECEIVE")
    E: uses-permission (line=52)
      A: android:name(0x01010003)="com.avira.android.permission.INVOKE_INTERNAL_HANDLER" (Raw: "com.avira.android.permission.INVOKE_INTERNAL_HANDLER")
    E: uses-permission (line=53)
      A: android:name(0x01010003)="com.avira.android.permission.INVOKE_WIPE_FEATURES" (Raw: "com.avira.android.permission.INVOKE_WIPE_FEATURES")
    E: uses-permission (line=55)
      A: android:name(0x01010003)="android.permission.READ_PHONE_STATE" (Raw: "android.permission.READ_PHONE_STATE")
    E: uses-permission (line=56)
      A: android:name(0x01010003)="android.permission.CALL_PHONE" (Raw: "android.permission.CALL_PHONE")
    E: uses-permission (line=57)
      A: android:name(0x01010003)="android.permission.MODIFY_PHONE_STATE" (Raw: "android.permission.MODIFY_PHONE_STATE")
    E: uses-permission (line=58)
      A: android:name(0x01010003)="android.permission.READ_PHONE_STATE" (Raw: "android.permission.READ_PHONE_STATE")
    E: uses-permission (line=59)
      A: android:name(0x01010003)="android.permission.READ_LOGS" (Raw: "android.permission.READ_LOGS")
    E: uses-permission (line=62)
      A: android:name(0x01010003)="android.permission.SYSTEM_ALERT_WINDOW" (Raw: "android.permission.SYSTEM_ALERT_WINDOW")
    E: uses-permission (line=63)
      A: android:name(0x01010003)="android.permission.DISABLE_KEYGUARD" (Raw: "android.permission.DISABLE_KEYGUARD")
    E: uses-permission (line=65)
      A: android:name(0x01010003)="android.permission.ACCESS_COARSE_LOCATION" (Raw: "android.permission.ACCESS_COARSE_LOCATION")
    E: uses-permission (line=66)
      A: android:name(0x01010003)="android.permission.ACCESS_FINE_LOCATION" (Raw: "android.permission.ACCESS_FINE_LOCATION")
    E: uses-permission (line=69)
      A: android:name(0x01010003)="android.permission.CAMERA" (Raw: "android.permission.CAMERA")
    E: uses-permission (line=70)
      A: android:name(0x01010003)="android.permission.WRITE_EXTERNAL_STORAGE" (Raw: "android.permission.WRITE_EXTERNAL_STORAGE")
    E: uses-feature (line=72)
      A: android:name(0x01010003)="android.hardware.camera" (Raw: "android.hardware.camera")
      A: android:required(0x0101028e)=(type 0x12)0x0
    E: uses-permission (line=79)
      A: android:name(0x01010003)="android.permission.READ_PHONE_STATE" (Raw: "android.permission.READ_PHONE_STATE")
    E: uses-permission (line=80)
      A: android:name(0x01010003)="android.permission.GET_TASKS" (Raw: "android.permission.GET_TASKS")
    E: uses-permission (line=81)
      A: android:name(0x01010003)="android.permission.INTERNET" (Raw: "android.permission.INTERNET")
    E: uses-permission (line=84)
      A: android:name(0x01010003)="android.permission.GET_ACCOUNTS" (Raw: "android.permission.GET_ACCOUNTS")
    E: uses-permission (line=85)
      A: android:name(0x01010003)="android.permission.MANAGE_ACCOUNTS" (Raw: "android.permission.MANAGE_ACCOUNTS")
    E: uses-permission (line=86)
      A: android:name(0x01010003)="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" (Raw: "android.permission.MOUNT_UNMOUNT_FILESYSTEMS")
    E: uses-permission (line=87)
      A: android:name(0x01010003)="android.permission.MOUNT_FORMAT_FILESYSTEMS" (Raw: "android.permission.MOUNT_FORMAT_FILESYSTEMS")
    E: uses-permission (line=88)
      A: android:name(0x01010003)="android.permission.READ_CONTACTS" (Raw: "android.permission.READ_CONTACTS")
    E: uses-permission (line=89)
      A: android:name(0x01010003)="android.permission.WRITE_CONTACTS" (Raw: "android.permission.WRITE_CONTACTS")
    E: uses-permission (line=90)
      A: android:name(0x01010003)="android.permission.READ_SMS" (Raw: "android.permission.READ_SMS")
    E: uses-permission (line=91)
      A: android:name(0x01010003)="android.permission.WRITE_SMS" (Raw: "android.permission.WRITE_SMS")
    E: uses-permission (line=92)
      A: android:name(0x01010003)="android.permission.RECEIVE_SMS" (Raw: "android.permission.RECEIVE_SMS")
    E: uses-permission (line=93)
      A: android:name(0x01010003)="android.permission.WAKE_LOCK" (Raw: "android.permission.WAKE_LOCK")
    E: uses-permission (line=94)
      A: android:name(0x01010003)="android.permission.READ_CALL_LOG" (Raw: "android.permission.READ_CALL_LOG")
    E: uses-permission (line=95)
      A: android:name(0x01010003)="android.permission.WRITE_CALL_LOG" (Raw: "android.permission.WRITE_CALL_LOG")
    E: uses-permission (line=100)
      A: android:name(0x01010003)="android.permission.SEND_SMS" (Raw: "android.permission.SEND_SMS")
    E: uses-permission (line=103)
      A: android:name(0x01010003)="android.permission.MODIFY_AUDIO_SETTINGS" (Raw: "android.permission.MODIFY_AUDIO_SETTINGS")
    E: uses-permission (line=106)
      A: android:name(0x01010003)="android.permission.RECEIVE_BOOT_COMPLETED" (Raw: "android.permission.RECEIVE_BOOT_COMPLETED")
    E: uses-permission (line=107)
      A: android:name(0x01010003)="android.permission.ACCESS_NETWORK_STATE" (Raw: "android.permission.ACCESS_NETWORK_STATE")
    E: uses-permission (line=110)
      A: android:name(0x01010003)="android.permission.ACCESS_WIFI_STATE" (Raw: "android.permission.ACCESS_WIFI_STATE")
    E: uses-permission (line=113)
      A: android:name(0x01010003)="com.android.browser.permission.READ_HISTORY_BOOKMARKS" (Raw: "com.android.browser.permission.READ_HISTORY_BOOKMARKS")
    E: uses-permission (line=114)
      A: android:name(0x01010003)="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" (Raw: "com.android.browser.permission.WRITE_HISTORY_BOOKMARKS")
    E: uses-feature (line=116)
      A: android:glEsVersion(0x01010281)=(type 0x11)0x20000
      A: android:required(0x0101028e)=(type 0x12)0xffffffff
    E: application (line=120)
      A: android:label(0x01010001)=@0x7f08009c
      A: android:icon(0x01010002)=@0x7f02006b
      A: android:name(0x01010003)=".ApplicationService" (Raw: ".ApplicationService")
      A: android:persistent(0x0101000d)=(type 0x12)0xffffffff
      E: meta-data (line=125)
        A: android:name(0x01010003)="com.google.android.maps.v2.API_KEY" (Raw: "com.google.android.maps.v2.API_KEY")
        A: android:value(0x01010024)="AIzaSyCuenwRz1IDRqmpqexZ8IM6PPcnxaPOq_s" (Raw: "AIzaSyCuenwRz1IDRqmpqexZ8IM6PPcnxaPOq_s")
      E: activity (line=129)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".AviraMobileSecurityActivity" (Raw: ".AviraMobileSecurityActivity")
        A: android:clearTaskOnLaunch(0x01010015)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
        E: intent-filter (line=137)
          E: action (line=138)
            A: android:name(0x01010003)="android.intent.action.MAIN" (Raw: "android.intent.action.MAIN")
          E: category (line=140)
            A: android:name(0x01010003)="android.intent.category.LAUNCHER" (Raw: "android.intent.category.LAUNCHER")
      E: activity (line=143)
        A: android:theme(0x01010000)=@0x103000b
        A: android:name(0x01010003)="org.acra.CrashReportDialog" (Raw: "org.acra.CrashReportDialog")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
      E: activity (line=150)
        A: android:theme(0x01010000)=@0x1030006
        A: android:name(0x01010003)=".uninstallation.UninstallationActivity" (Raw: ".uninstallation.UninstallationActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=158)
        A: android:theme(0x01010000)=@0x1030006
        A: android:name(0x01010003)=".uninstallation.UninstallationSurveyActivity" (Raw: ".uninstallation.UninstallationSurveyActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=166)
        A: android:theme(0x01010000)=@0x1030006
        A: android:name(0x01010003)=".uninstallation.UninstallationLandingPage" (Raw: ".uninstallation.UninstallationLandingPage")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=174)
        A: android:theme(0x01010000)=@0x1030006
        A: android:name(0x01010003)=".introduction.IntroductionHostActivity" (Raw: ".introduction.IntroductionHostActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
      E: activity (line=180)
        A: android:theme(0x01010000)=@0x1030006
        A: android:name(0x01010003)=".welcome.WelcomeActivity" (Raw: ".welcome.WelcomeActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=187)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:name(0x01010003)=".registration.LoginActivity" (Raw: ".registration.LoginActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=194)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:name(0x01010003)=".registration.CreateAccountActivity" (Raw: ".registration.CreateAccountActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=201)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:name(0x01010003)=".userprofile.CreateUserDetailsActivity" (Raw: ".userprofile.CreateUserDetailsActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=208)
        A: android:theme(0x01010000)=@0x1030006
        A: android:name(0x01010003)=".featuresintroduction.FeaturesIntroductionActivity" (Raw: ".featuresintroduction.FeaturesIntroductionActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=215)
        A: android:theme(0x01010000)=@0x1030006
        A: android:name(0x01010003)=".firstscan.FirstVDFDownloadActivity" (Raw: ".firstscan.FirstVDFDownloadActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=222)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:name(0x01010003)=".userprofile.EditUserDetailsActivity" (Raw: ".userprofile.EditUserDetailsActivity")
        A: android:finishOnTaskLaunch(0x01010014)=(type 0x12)0xffffffff
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=229)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".userprofile.UserPhotoSelectOptionsActivity" (Raw: ".userprofile.UserPhotoSelectOptionsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=236)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".dashboard.DashboardActivity" (Raw: ".dashboard.DashboardActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=244)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".EulaActivity" (Raw: ".EulaActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=250)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".antitheft.AntiTheftActivity" (Raw: ".antitheft.AntiTheftActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=257)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".antitheft.WipeDetailsActivity" (Raw: ".antitheft.WipeDetailsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=264)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".antitheft.ScreamDetailsActivity" (Raw: ".antitheft.ScreamDetailsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=271)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".antitheft.LockDetailsActivity" (Raw: ".antitheft.LockDetailsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=278)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".dashboard.DashboardHelpActivity" (Raw: ".dashboard.DashboardHelpActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=284)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)="com.avira.android.premium.DashboardPremiumActivity" (Raw: "com.avira.android.premium.DashboardPremiumActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=290)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".dashboard.DashboardSettingsActivity" (Raw: ".dashboard.DashboardSettingsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=297)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".dashboard.DashboardDeviceAdministratorActivity" (Raw: ".dashboard.DashboardDeviceAdministratorActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=304)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".dashboard.DashboardGettingStartedActivity" (Raw: ".dashboard.DashboardGettingStartedActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=310)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".dashboard.DashboardRegistrationSuccessfulActivity" (Raw: ".dashboard.DashboardRegistrationSuccessfulActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=316)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)="com.avira.android.antivirus.ThreatCategoriesActivity" (Raw: "com.avira.android.antivirus.ThreatCategoriesActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=323)
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".debug.DebuggingPreferencesActivity" (Raw: ".debug.DebuggingPreferencesActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=328)
        A: android:theme(0x01010000)=@0x1030009
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistAddSmsLogActivity" (Raw: ".blacklist.BlacklistAddSmsLogActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=335)
        A: android:theme(0x01010000)=@0x1030009
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistAddCallLogActivity" (Raw: ".blacklist.BlacklistAddCallLogActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=342)
        A: android:theme(0x01010000)=@0x1030009
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistAddContactActivity" (Raw: ".blacklist.BlacklistAddContactActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=349)
        A: android:theme(0x01010000)=@0x7f0b001d
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistContactEditActivity" (Raw: ".blacklist.BlacklistContactEditActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=355)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistDeleteActivity" (Raw: ".blacklist.BlacklistDeleteActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
        A: android:noHistory(0x0101022d)=(type 0x12)0xffffffff
      E: activity (line=362)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistActivity" (Raw: ".blacklist.BlacklistActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=369)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistAddContactOptionsActivity" (Raw: ".blacklist.BlacklistAddContactOptionsActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=377)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistAddEditContactActivity" (Raw: ".blacklist.BlacklistAddEditContactActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=384)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistMainActivity" (Raw: ".blacklist.BlacklistMainActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=392)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistContactsListActivity" (Raw: ".blacklist.BlacklistContactsListActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=399)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistContactHistoryActivity" (Raw: ".blacklist.BlacklistContactHistoryActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=406)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistHistoryDetailsActivity" (Raw: ".blacklist.BlacklistHistoryDetailsActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=412)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.OEBlacklistHistoryMessageDetailsActivity" (Raw: ".blacklist.OEBlacklistHistoryMessageDetailsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=419)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.BlacklistImportActivity" (Raw: ".blacklist.BlacklistImportActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=425)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".blacklist.OEBlacklistHistoryDetailsActivity" (Raw: ".blacklist.OEBlacklistHistoryDetailsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=432)
        A: android:theme(0x01010000)=@0x1030007
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".remotescream.RemoteScreamActivity" (Raw: ".remotescream.RemoteScreamActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
        A: android:noHistory(0x0101022d)=(type 0x12)0xffffffff
      E: activity (line=440)
        A: android:theme(0x01010000)=@0x1030007
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".remotelock.RemoteLockActivity" (Raw: ".remotelock.RemoteLockActivity")
        A: android:excludeFromRecents(0x01010017)=(type 0x12)0xffffffff
        A: android:launchMode(0x0101001d)=(type 0x10)0x3
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
      E: activity (line=448)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".antivirus.AntivirusOEActivity" (Raw: ".antivirus.AntivirusOEActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=455)
        A: android:theme(0x01010000)=@0x1030009
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".antivirus.OEScanResultActivity" (Raw: ".antivirus.OEScanResultActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=462)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".antivirus.OEScanResultDialogActivity" (Raw: ".antivirus.OEScanResultDialogActivity")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=470)
        A: android:theme(0x01010000)=@0x1030006
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".premium.SupportDetailsActivity" (Raw: ".premium.SupportDetailsActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=476)
        A: android:theme(0x01010000)=@0x1030009
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".license.ThirdPartyLicenseActivity" (Raw: ".license.ThirdPartyLicenseActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=482)
        A: android:theme(0x01010000)=@0x1030009
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".cropimage.CropImage" (Raw: ".cropimage.CropImage")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=489)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".idsafeguard.IdSafeguardActivity" (Raw: ".idsafeguard.IdSafeguardActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=496)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".idsafeguard.IdSafeguardContactsActivity" (Raw: ".idsafeguard.IdSafeguardContactsActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=503)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".idsafeguard.AccountInfoActivity" (Raw: ".idsafeguard.AccountInfoActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=510)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".idsafeguard.BreachInformationActivity" (Raw: ".idsafeguard.BreachInformationActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=517)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".idsafeguard.RecentlyBreachedCompaniesActivity" (Raw: ".idsafeguard.RecentlyBreachedCompaniesActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=524)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".idsafeguard.InformationActivity" (Raw: ".idsafeguard.InformationActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=531)
        A: android:theme(0x01010000)=@0x1030010
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".securebrowsing.SecureBrowsingActivity" (Raw: ".securebrowsing.SecureBrowsingActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: activity (line=538)
        A: android:theme(0x01010000)=@0x7f0b001f
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".dashboard.DashboardSecureBrowsingActivity" (Raw: ".dashboard.DashboardSecureBrowsingActivity")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0x4a0
      E: receiver (line=546)
        A: android:name(0x01010003)=".antivirus.AppInstallUpdateReceiver" (Raw: ".antivirus.AppInstallUpdateReceiver")
        E: intent-filter (line=547)
          E: action (line=548)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_ADDED" (Raw: "android.intent.action.PACKAGE_ADDED")
          E: data (line=550)
            A: android:scheme(0x01010027)="package" (Raw: "package")
      E: receiver (line=553)
        A: android:name(0x01010003)=".BootCompletedBroadcastReceiver" (Raw: ".BootCompletedBroadcastReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=557)
          A: android:priority(0x0101001c)=(type 0x10)0x1869f
          E: action (line=558)
            A: android:name(0x01010003)="android.intent.action.BOOT_COMPLETED" (Raw: "android.intent.action.BOOT_COMPLETED")
          E: action (line=560)
            A: android:name(0x01010003)="android.intent.action.USER_PRESENT" (Raw: "android.intent.action.USER_PRESENT")
          E: category (line=563)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: receiver (line=567)
        A: android:name(0x01010003)=".SmsCommandBroadcastReceiver" (Raw: ".SmsCommandBroadcastReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0x0
        E: intent-filter (line=570)
          A: android:priority(0x0101001c)=(type 0x10)0x1869f
          E: action (line=571)
            A: android:name(0x01010003)="android.provider.Telephony.SMS_RECEIVED" (Raw: "android.provider.Telephony.SMS_RECEIVED")
      E: receiver (line=574)
        A: android:name(0x01010003)=".ActionHandlerBroadcastReceiver" (Raw: ".ActionHandlerBroadcastReceiver")
        A: android:permission(0x01010006)="com.avira.android.permission.INVOKE_INTERNAL_HANDLER" (Raw: "com.avira.android.permission.INVOKE_INTERNAL_HANDLER")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=579)
          E: action (line=580)
            A: android:name(0x01010003)="com.avira.android.ACTION_POSTDATA" (Raw: "com.avira.android.ACTION_POSTDATA")
          E: action (line=581)
            A: android:name(0x01010003)="com.avira.android.ACTION_GETDATA" (Raw: "com.avira.android.ACTION_GETDATA")
          E: action (line=582)
            A: android:name(0x01010003)="com.avira.android.ACTION_CHECKCONNECTION" (Raw: "com.avira.android.ACTION_CHECKCONNECTION")
      E: receiver (line=585)
        A: android:label(0x01010001)=@0x7f08009c
        A: android:name(0x01010003)=".deviceadmin.DeviceAdminReceiver" (Raw: ".deviceadmin.DeviceAdminReceiver")
        A: android:permission(0x01010006)="android.permission.BIND_DEVICE_ADMIN" (Raw: "android.permission.BIND_DEVICE_ADMIN")
        A: android:description(0x01010020)=@0x7f08009c
        E: meta-data (line=590)
          A: android:name(0x01010003)="android.app.device_admin" (Raw: "android.app.device_admin")
          A: android:resource(0x01010025)=@0x7f050001
        E: intent-filter (line=594)
          E: action (line=595)
            A: android:name(0x01010003)="android.app.action.DEVICE_ADMIN_ENABLED" (Raw: "android.app.action.DEVICE_ADMIN_ENABLED")
      E: receiver (line=598)
        A: android:name(0x01010003)="com.google.android.gcm.GCMBroadcastReceiver" (Raw: "com.google.android.gcm.GCMBroadcastReceiver")
        A: android:permission(0x01010006)="com.google.android.c2dm.permission.SEND" (Raw: "com.google.android.c2dm.permission.SEND")
        E: intent-filter (line=603)
          E: action (line=604)
            A: android:name(0x01010003)="com.google.android.c2dm.intent.RECEIVE" (Raw: "com.google.android.c2dm.intent.RECEIVE")
          E: category (line=606)
            A: android:name(0x01010003)="com.avira.android" (Raw: "com.avira.android")
        E: intent-filter (line=609)
          E: action (line=610)
            A: android:name(0x01010003)="com.google.android.c2dm.intent.REGISTRATION" (Raw: "com.google.android.c2dm.intent.REGISTRATION")
          E: category (line=612)
            A: android:name(0x01010003)="com.avira.android" (Raw: "com.avira.android")
      E: service (line=616)
        A: android:name(0x01010003)=".GCMIntentService" (Raw: ".GCMIntentService")
      E: receiver (line=618)
        A: android:name(0x01010003)=".NetworkConnectivityChangeReceiver" (Raw: ".NetworkConnectivityChangeReceiver")
        E: intent-filter (line=619)
          E: action (line=620)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=623)
        A: android:name(0x01010003)=".c2dm.C2dmRegIdSyncOnConnectionChangeReceiver" (Raw: ".c2dm.C2dmRegIdSyncOnConnectionChangeReceiver")
        E: intent-filter (line=624)
          E: action (line=625)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=628)
        A: android:name(0x01010003)=".antivirus.RetryScanInfoSyncOnConnectionChangeReceiver" (Raw: ".antivirus.RetryScanInfoSyncOnConnectionChangeReceiver")
        E: intent-filter (line=629)
          E: action (line=630)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=633)
        A: android:name(0x01010003)=".userprofile.RetryUserProfileImageSyncOnConnectionChangeReceiver" (Raw: ".userprofile.RetryUserProfileImageSyncOnConnectionChangeReceiver")
        E: intent-filter (line=634)
          E: action (line=635)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=638)
        A: android:name(0x01010003)=".antivirus.RetryUpdateOnConnectionChangeReceiver" (Raw: ".antivirus.RetryUpdateOnConnectionChangeReceiver")
        E: intent-filter (line=639)
          E: action (line=640)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=643)
        A: android:name(0x01010003)=".RetryGCMRegistrationOnConnectionChangeReceiver" (Raw: ".RetryGCMRegistrationOnConnectionChangeReceiver")
        E: intent-filter (line=644)
          E: action (line=645)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=648)
        A: android:name(0x01010003)=".PackageUpdateBroadcastReceiver" (Raw: ".PackageUpdateBroadcastReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=652)
          E: action (line=653)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REPLACED" (Raw: "android.intent.action.PACKAGE_REPLACED")
          E: data (line=655)
            A: android:scheme(0x01010027)="package" (Raw: "package")
            A: android:path(0x0101002a)="com.avira.android" (Raw: "com.avira.android")
      E: receiver (line=660)
        A: android:name(0x01010003)=".blacklist.OnCallBroadcastReceiver" (Raw: ".blacklist.OnCallBroadcastReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=664)
          E: action (line=665)
            A: android:name(0x01010003)="android.intent.action.PHONE_STATE" (Raw: "android.intent.action.PHONE_STATE")
      E: receiver (line=668)
        A: android:name(0x01010003)=".blacklist.OnSmsBroadcastReceiver" (Raw: ".blacklist.OnSmsBroadcastReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=672)
          A: android:priority(0x0101001c)=(type 0x10)0x1869f
          E: action (line=673)
            A: android:name(0x01010003)="android.provider.Telephony.SMS_RECEIVED" (Raw: "android.provider.Telephony.SMS_RECEIVED")
      E: receiver (line=676)
        A: android:name(0x01010003)=".antivirus.AutoUpdateReceiver" (Raw: ".antivirus.AutoUpdateReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=680)
          E: action (line=681)
            A: android:name(0x01010003)="com.avira.android.ACTION_UPDATE_ANTIVIRUS" (Raw: "com.avira.android.ACTION_UPDATE_ANTIVIRUS")
      E: receiver (line=684)
        A: android:name(0x01010003)=".antivirus.CleanScanResultReceiver" (Raw: ".antivirus.CleanScanResultReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=688)
          E: action (line=689)
            A: android:name(0x01010003)="com.avira.android.ACTION_TRACK_CLEAN_APP" (Raw: "com.avira.android.ACTION_TRACK_CLEAN_APP")
      E: receiver (line=692)
        A: android:name(0x01010003)=".antivirus.RenewUpdateOnSubscriptionRenewReceiver" (Raw: ".antivirus.RenewUpdateOnSubscriptionRenewReceiver")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=696)
          E: action (line=697)
            A: android:name(0x01010003)="com.avira.android.ACTION_PREMIUM_STATUS_CHANGE" (Raw: "com.avira.android.ACTION_PREMIUM_STATUS_CHANGE")
      E: service (line=701)
        A: android:name(0x01010003)=".remotewipe.ExternalStorageWatcher" (Raw: ".remotewipe.ExternalStorageWatcher")
        A: android:permission(0x01010006)="com.avira.android.permission.INVOKE_WIPE_FEATURES" (Raw: "com.avira.android.permission.INVOKE_WIPE_FEATURES")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=707)
        A: android:name(0x01010003)=".remotelock.RemoteLockService" (Raw: ".remotelock.RemoteLockService")
        A: android:permission(0x01010006)="com.avira.android.permission.REMOTE_LOCK_SERVICE" (Raw: "com.avira.android.permission.REMOTE_LOCK_SERVICE")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=713)
        A: android:name(0x01010003)=".antivirus.OnAccessScanService" (Raw: ".antivirus.OnAccessScanService")
        A: android:enabled(0x0101000e)=(type 0x12)0xffffffff
        A: android:exported(0x01010010)=(type 0x12)0x0
        A: android:process(0x01010011)=":auto_scan" (Raw: ":auto_scan")
      E: service (line=719)
        A: android:label(0x01010001)="secure_browsing_service_name" (Raw: "secure_browsing_service_name")
        A: android:name(0x01010003)=".securebrowsing.service.BookmarkChangeService" (Raw: ".securebrowsing.service.BookmarkChangeService")
      E: service (line=723)
        A: android:label(0x01010001)="fresh_install_flow_service_name" (Raw: "fresh_install_flow_service_name")
        A: android:name(0x01010003)=".FreshInstallFlowControllerService" (Raw: ".FreshInstallFlowControllerService")
      E: provider (line=728)
        A: android:name(0x01010003)=".utilities.FileProvider" (Raw: ".utilities.FileProvider")
        A: android:enabled(0x0101000e)=(type 0x12)0x0
        A: android:exported(0x01010010)=(type 0x12)0x0
        A: android:authorities(0x01010018)="com.avira.android.utilities.FileProvider" (Raw: "com.avira.android.utilities.FileProvider")
      E: provider (line=734)
        A: android:name(0x01010003)="com.avira.android.idsafeguard.database.IdSafeguardContentProvider" (Raw: "com.avira.android.idsafeguard.database.IdSafeguardContentProvider")
        A: android:exported(0x01010010)=(type 0x12)0x0
        A: android:authorities(0x01010018)="com.avira.android.idsafeguard" (Raw: "com.avira.android.idsafeguard")
      E: service (line=740)
        A: android:name(0x01010003)=".idsafeguard.IdSafeguardIntentService" (Raw: ".idsafeguard.IdSafeguardIntentService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=744)
        A: android:name(0x01010003)=".idsafeguard.IdSafeguardDismissalIntentService" (Raw: ".idsafeguard.IdSafeguardDismissalIntentService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=748)
        A: android:name(0x01010003)=".idsafeguard.RecentBreachesIntentService" (Raw: ".idsafeguard.RecentBreachesIntentService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=754)
        A: android:name(0x01010003)="com.google.android.gms.analytics.CampaignTrackingService" (Raw: "com.google.android.gms.analytics.CampaignTrackingService")
      E: receiver (line=756)
        A: android:name(0x01010003)="com.google.android.gms.analytics.CampaignTrackingReceiver" (Raw: "com.google.android.gms.analytics.CampaignTrackingReceiver")
        A: android:exported(0x01010010)=(type 0x12)0xffffffff
        E: intent-filter (line=759)
          E: action (line=760)
            A: android:name(0x01010003)="com.android.vending.INSTALL_REFERRER" (Raw: "com.android.vending.INSTALL_REFERRER")
      E: meta-data (line=765)
        A: android:name(0x01010003)="com.google.android.gms.analytics.globalConfigResource" (Raw: "com.google.android.gms.analytics.globalConfigResource")
        A: android:resource(0x01010025)=@0x7f050002
